<section class="contact-area padding-top-40px padding-bottom-80px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 padding-top-10px padding-bottom-10px">
                <div class="col-lg-12 para_head_style">
                    <h1 class="headingfont">Report Abuse</h1>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="billing-form-item">
                    
                    <div class="billing-content">
                        <div class="our-office-content">
                            <div class="section-heading">
                                <p class="card_p sec__desc font-size-15 line-height-24">Kalyanamalai Private Limited is always concerned about the safety of its members who uses its services. It deals stringently with any such misuse of its facilities or abusive activity.</p>
                                <p class="card_p sec__desc font-size-15 line-height-24">We suggest the following for the safety of our members.</p>
                                <p class="card_p sec__desc font-size-15 line-height-24"><strong>Safety Tips</strong></p>
                                <p class="card_p sec__desc font-size-15 line-height-24">Always agree to have your first personal meeting in a crowded public place such as a coffee shop or a mall. Please attend the meeting  with the knowledge of your family or friends. Never agree to meet an unknown person in a secluded place or hotel room alone.</p>
                                <p class="card_p sec__desc font-size-15 line-height-24">It is advisable to keep your family informed about any such meeting before your marriage and involve them in any decision taking process. It is always a wise move to have a family meeting, while deciding on a prospective bride or groom.</p>
                                <p class="card_p sec__desc font-size-15 line-height-24">Always make sure that you are communicating with the right person with a real intention to get married. Please handle people who answer you vaguely with care. Never give your personal information such as credit card or bank account details to any one.</p>
                                <p class="card_p sec__desc font-size-15 line-height-24"> Be careful in dealing with the fraudsters and scammers who try to misuse the website to swindle money from you..</p>

                                <p class="card_p sec__desc font-size-15 line-height-24"><strong>Report Abuse:</strong></p>
                                <p class="card_p sec__desc font-size-15 line-height-24">We seek your cooperation to take action on those who misuse our service facilities. We request you to provide all the documents such as received email (with full address header) while reporting abuses.</p>

                                 <p class="card_p sec__desc font-size-15 line-height-24"><strong>Immediately report the following abuse of our services to us.</strong></p>
                                   

                                 <ul class="serLst">
                                    <li><i class="fa fa-check"></i> If a member sends obscene or inappropriate e-mails </li>      
                                    <li><i class="fa fa-check"></i> If a member seeks marriage proposal with a fraudulent or obscene profile </li>      
                                    <li><i class="fa fa-check"></i> If a member provokes you with harassing email remarks </li>      
                                    <li><i class="fa fa-check"></i> If a photograph of a member is miss-represented or not real</li>      
                                    <li><i class="fa fa-check"></i> If a member found using our services for private business purposes with advertisements or other business material.</li> 
                                </ul>
                                <p class="card_p sec__desc font-size-15 line-height-24">Please Report Anything that is Offensive, Fraudulent or Suspicious with proper evidence to us by sending mail to </p>
                                <p class="card_p sec__desc font-size-15 line-height-24">Please Report Anything that is Offensive, Fraudulent or Suspicious with proper evidence to us by sending mail to <a style="color: #007bff;" href="mailto:info@kmmatrimony.com">info@kmmatrimony.com</a> </p>
                                 <p class="card_p sec__desc font-size-15 line-height-24">Alternatively you can call us on 91 44 2434 1400 between 08.00 AM to 08.00 PM on any working day to talk to a customer friendly official at our office or post a letter to Kalyanamalai Private Limited,  6/1 Ramasamy Street, T.Nagar, Chennai 6000017.</p>


                                
                            </div>
                            
                        </div><!-- end our-office-content -->
                    </div><!-- end billing-content -->
                </div><!-- end billing-form-item -->
            </div><!-- end col-lg-5 -->
            <div class="col-lg-4">
                <div class="billing-form-item billcntdiv">
                    
                    <div class="billing-content billcnt">
                        <div class="contact-form-action">
                            <img class="imgheightlength" src="assets/images/utilities/magazine/op.jpg">
                        </div><!-- end contact-form-action -->
                    </div><!-- end billing-content -->
                </div><!-- end billing-form-item -->
            </div><!-- end col-lg-7 -->
           
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end contact-area -->
