<section class="dashboard-area padding-bottom-90px">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="billing-title-wrap pd-l-0">
                                <h3 class="widget-title pb-0">Bookmarks</h3>
                                <div class="title-shape margin-top-10px"></div>
                            </div>
                        </div>
                        <div class="col-md-12 row">
                            <div class="col-md-12" style="padding: 10px;">
                                <img src="https://via.placeholder.com/150">
                            </div>
                            <div class="col-md-12" style="padding: 10px;">
                                <img src="https://via.placeholder.com/150">
                            </div>
                            <div class="col-md-12" style="padding: 10px;">
                                <img src="https://via.placeholder.com/150">
                            </div>
                        </div>
                    </div>
                </div>
                <div [ngClass]="{show: isBookmarklistNotFoundLoading==true}" class="hide alert alert-info text-center col-md-12">
                    <strong>View Some Profiles...!</strong>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-lg-12 card-list-item1 padd0">
                        <div class="billing-title-wrap1">
                            <div class="row">
                                <div class="col-md-12 text-left div-title-btn padd0">
                                    <span  class="btn btn-c1 btn-color padd0px-btn">
                                        <i class="las la-exchange-alt"></i> Recent Visitors
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="cfa-spinner text-center" [ngClass]="isrecentvisitorsLoading==true ? 'show' : 'hide'">
                            <div class="skeleton-loader"></div>
                        </div>
                        <div class="cfa-spinner text-center" [ngClass]="isrecentvisitorsLoading==true ? 'show' : 'hide'">
                            <div class="skeleton-loader"></div>
                        </div>
                        <div class="cfa-spinner text-center" [ngClass]="isrecentvisitorsLoading==true ? 'show' : 'hide'">
                            <div class="skeleton-loader"></div>
                        </div>
                        <div *ngFor="let item of recentvisitorslists | paginate: { itemsPerPage: itemsPerPage , currentPage: p, totalItems: totalrecentvisitorsItems }" class="card-list-item2 hide" [ngClass]="{show: isrecentvisitorsLoadingData==true}">
                            <div class="row">
                                <div class="col-md-3 text-center">
                                    <div *ngIf="item.ProtectedImage==1 && item.Imagestatus==1" class="card-image">
                                        <img [defaultImage]="defaultImage" [lazyLoad]="item.profilepicture" class="card__img" alt="">
                                        <span [ngClass]="{'badge-toggle-pin': (bookmarkStatus || item.Bookmarkstatus==1)}" (click)="openCommonModal(content,'','bookmark',item.RegNo,'matching')" class="badge-toggle cur" data-toggle="tooltip" data-placement="bottom" title="{{(bookmarkStatus || item.Bookmarkstatus==1) ? 'Bookmarked' : 'Bookmark' }}">
                                            
                                            <i [ngClass]="{'fa-star':bookmarkStatus}" *ngIf="item.Bookmarkstatus==0" class="fa fa-star-o" aria-hidden="true"></i>

                                            <i *ngIf="item.Bookmarkstatus==1" class="fa fa-star" aria-hidden="true"></i>
                                        </span>

                                        <button (click)="openCommonModal(content,'','photo',item.RegNo,'matching')" class="absolute btn btn-c1">Request for Access</button>
                                    </div>
                                    <div *ngIf="item.ProtectedImage==0 && item.Imagestatus==0" class="card-image">

                                        <span [ngClass]="{'badge-toggle-pin': (bookmarkStatus || item.Bookmarkstatus==1)}" (click)="openCommonModal(content,'','bookmark',item.RegNo,'matching')" class="badge-toggle cur" data-toggle="tooltip" data-placement="bottom" title="{{(bookmarkStatus || item.Bookmarkstatus==1) ? 'Bookmarked' : 'Bookmark' }}">
                                            
                                            <i [ngClass]="{'fa-star':bookmarkStatus}" *ngIf="item.Bookmarkstatus==0" class="fa fa-star-o" aria-hidden="true"></i>

                                            <i *ngIf="item.Bookmarkstatus==1" class="fa fa-star" aria-hidden="true"></i>
                                        </span>

                                        <img [defaultImage]="defaultImage" [lazyLoad]="item.profilepicture" class="card__img" alt="">

                                        <button (click)="openCommonModal(content,'','photo',item.RegNo,'matching')" class="absolute btn btn-c1">Request for Upload</button>

                                    </div>
                                    <div *ngIf="item.ProtectedImage==1 && item.Imagestatus==0" class="card-image">
                                        <span [ngClass]="{'badge-toggle-pin': (bookmarkStatus || item.Bookmarkstatus==1)}" (click)="openCommonModal(content,'','bookmark',item.RegNo,'matching')" class="badge-toggle cur" data-toggle="tooltip" data-placement="bottom" title="{{(bookmarkStatus || item.Bookmarkstatus==1) ? 'Bookmarked' : 'Bookmark' }}">
                                            
                                            <i [ngClass]="{'fa-star':bookmarkStatus}" *ngIf="item.Bookmarkstatus==0" class="fa fa-star-o" aria-hidden="true"></i>

                                            <i *ngIf="item.Bookmarkstatus==1" class="fa fa-star" aria-hidden="true"></i>
                                        </span>

                                        <img [defaultImage]="defaultImage" [lazyLoad]="item.profilepicture" class="card__img" alt="">
                                        <button (click)="openCommonModal(content,'','photo',item.RegNo,'matching')" class="absolute btn btn-c1">Request for Access</button>
                                    </div>
                                    <div *ngIf="item.Imagestatus==1 && item.ProtectedImage==0" class="card-image">
                                        <img [defaultImage]="defaultImage" [lazyLoad]="item.profilepicture" class="card__img cur" alt="" routerLink="/profile/{{item.RegNo}}">

                                        <span [ngClass]="{'badge-toggle-pin': (bookmarkStatus || item.Bookmarkstatus==1)}" (click)="openCommonModal(content,'','bookmark',item.RegNo,'matching')" class="badge-toggle cur" data-toggle="tooltip" data-placement="bottom" title="{{(bookmarkStatus || item.Bookmarkstatus==1) ? 'Bookmarked' : 'Bookmark' }}">
                                            
                                            <i [ngClass]="{'fa-star':bookmarkStatus}" *ngIf="item.Bookmarkstatus==0" class="fa fa-star-o" aria-hidden="true"></i>

                                            <i *ngIf="item.Bookmarkstatus==1" class="fa fa-star" aria-hidden="true"></i>
                                        </span>

                                        <div *ngIf="item.Imagestatus==1 && item.ProtectedImage==0 &&  item.imagesCount>1" class="category-title">
                                            <ul class="lxbk">
                                                <li (click)="openCommonModal(content,gallery,'gallery',item.RegNo,'matching')" class="cur">{{item.imagesCount}} <i class="fa fa-camera" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="card-content1">
                                        <a routerLink="/profile/{{item.RegNo}}" target="_blank">
                                            <span class="card-title">{{item.Name}} [{{item.RegNumber}}] 
                                                <i *ngIf="item.Profiletype==1" class="fa fa-check-circle" data-toggle="tooltip" data-placement="top" title="Verified"></i>
                                                <i *ngIf="item.Profiletype==0" class="fa fa-times-circle clr_red" data-toggle="tooltip" data-placement="top" title="Not Verified"></i>
                                            </span>
                                            <p class="card-sub">Profile created for {{item.ProfileCreatedBy}}</p>
                                        </a>
                                         <div class="row">
                                            <div class="col-lg-6">
                                                <ul class="info-list">
                                                    <li><span>Age:</span> {{item.Age}} <span>Height:</span> {{item.Height}} </li>
                                                    <li><span>MaritalStatus:</span> {{item.MaritalStatus}}</li>
                                                    <li><span>Religion:</span> {{item.Religion}}</li>
                                                    <li><span>Caste:</span> {{item.Caste}}</li>
                                                    
                                                </ul>
                                            </div>
                                            <div class="col-lg-6">
                                                <ul class="info-list">
                                                    <li><span>Location:</span> {{item.CommunicationCity}}</li>
                                                    <li><span>Education:</span> {{item.Education}}</li>
                                                    <li><span>Profession:</span> {{item.Profession}}</li>
                                                    <li><span>Star:</span> {{item.Star}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                      
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <ul class="info-list">
                                                    <li>
                                                       <ul class="_iconsLst">
                                                            <li><span (click)="openCommonModal(content,communication,'contact',item.RegNo,'recentvisitors')"><i title="Contact Details" class="las la-phone-volume"></i></span> </li>
                                                            <li><span (click)="openCommonModal(content,expressinterest,'expressinterest',item.RegNo,'recentvisitors')"><i title="Express Interest" class="lar la-heart"></i></span> </li>
                                                            <li><span (click)="openCommonModal(content,personalized,'message',item.RegNo,'recentvisitors')"><i title="Personlized Message" class="lar la-envelope"></i></span></li>
                                                            <li><span (click)="openCommonModal(content,'','album',item.RegNo,'recentvisitors')"><i title="Album Request" class="lar la-images"></i></span> </li>

                                                            <li><span (click)="openCommonModal(content,'','horoscope',item.RegNo,'recentvisitors')"><i title="Horoscope" class="las la-table"></i></span> </li>
                                                            <li><span (click)="openCommonModal(content,'','block',item.RegNo,'recentvisitors')"><i title="Block" class="las la-ban"></i></span> </li>
                                                            <li><span (click)="openCommonModal(content,'','ignore',item.RegNo,'recentvisitors')"><i title="Ignore" class="las la-comment-slash"></i></span> </li>
                                                            <li><span (click)="openCommonModal(content,forward,'forward',item.RegNo,'recentvisitors')"><i title="Forward Profile" class="las la-share-square"></i></span> </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="_listButton">
                                                    <a routerLink="/profile/{{item.RegNo}}" class="btn btn-c1" target="_blank"><i class="las la-user-check"></i> View Profile</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <pagination-controls 
                            (pageChange)="getPage(p = $event)"
                            maxSize="9"
                            directionLinks="true"
                            autoHide="true"
                            responsive="true"
                        ></pagination-controls>
                    </div>
                    <div [ngClass]="{show: isrecentvisitorslistNotFoundLoading==true}" class="col-lg-12 hide alert alert-info text-center">
                        <strong>View Some Profiles...!</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="overlay" [ngClass]="{show: isLoading===true}">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>

<ng-template #expressinterest>
    <div class="modal-body modal-delete SentExpress">
        <h5 class="margin-bottom-10px">Choose your message</h5>
        <ul>
            <li *ngFor="let expressI of expressInterestMsg; let i = index" [class.active]="SentInterestMessage === i" (click)="activateClass(i)">{{expressI.name}} <i class="las la-check-double"></i> </li>
        </ul>
        <div class="form-group margin-top-10px text-center">
            <button [disabled]="disableBtn" (click)="SentExpressInterest()" class="btn btn-success"><i class="las la-paper-plane"></i> {{SubmitbuttonName}}</button>
            <button type="button" class="btn btn-danger" (click)="closeModal()"><i class="las la-times"></i> Cancel </button>
        </div>
    </div>
</ng-template>
<ng-template #communication>
    <div class="modal-body _ngxcomm">
        <div class="cfa-spinner text-center" [ngClass]="_ModalContactLoading==true ? 'show' : 'hide'">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </div>
        <div *ngIf="_ModalContacteData" class="row">
            <div class="col-md-12">
                <h3 class="text-center">Congratulations and best wishes for your wedding...!</h3>
            </div>
            <div class="col-md-3">
                <img src="{{getContactInfo.profilepicture}}" class="img-fluid rounded mx-auto d-block">
            </div>
            <div class="col-md-9">
                <div class="map-address-box">
                    <ul class="map-address">
                        <li>
                            <span class="las la-user-circle"></span>
                            <h5 class="map__title">name</h5>
                            <p class="map__desc">{{getContactInfo.name}}</p>
                        </li>
                        <li>
                            <span class="la la-mobile"></span>
                            <h5 class="map__title">Mobile</h5>
                            <p class="map__desc">{{getContactInfo.mobile}}</p>
                        </li>
                        <li><span class="la la-envelope"></span>
                            <h5 class="map__title">email</h5>
                            <p class="map__desc">{{getContactInfo.email}}</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 text-center mg-pd-10">
                <button (click)="closeModal()" class="btn btn-c1"><i class="las la-times-circle"></i> Close</button>
            </div>
        </div>
        <div *ngIf="!_ModalContacteData" class="row mg-pd-10">
            <div class="contact">
                <h2 [innerHtml]="activeMessage" class="text-danger"></h2>
            </div>
            <button *ngIf="actionButtonFalse" type="button" class="btn btn-danger" (click)="closeModal()"><i class="las la-times"></i> {{actionButtonFalse}}</button>
        </div>
    </div>
</ng-template>
<ng-template #personalized>
    <div class="modal-body modal-delete SentExpress">
        <div class="col-md-7 offset-lg-2 offset-sm-0 text-center">
            <h5><strong>Now send personalized message to your loved person.</strong></h5>
            <form [formGroup]="personalizedMessageForm" (ngSubmit)="onMessageSubmit()">
                <div class="form-group margin-top-10px text-center">
                    <textarea formControlName="message" class="form-control" placeholder="Enter your message"></textarea>
                </div>
                <div class="form-group margin-top-10px text-center">
                    <button type="submit" [disabled]="MsgdisableBtn" class="btn btn-success"><i class="las la-paper-plane"></i> {{MsgSubmitbuttonName}}</button>
                    <button type="button" class="btn btn-danger" (click)="closeModal()"><i class="las la-times"></i> Cancel </button>
                </div>
            </form>
        </div>
    </div>
</ng-template>
<ng-template #content>
    <div class="modal-body modal-delete _remodify text-center">
        <div class="cfa-spinner text-center" [ngClass]="_ModalResponseLoading==true ? 'show' : 'hide'">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </div>
        <div *ngIf="_ModalResponseData">
            <div class="contact">
                <h2 [innerHtml]="activeMessage"></h2>
            </div>
            <button *ngIf="actionButtonTrue" type="button" class="btn btn-success" (click)="customPopUp()"><i class="las la-check"></i> {{actionButtonTrue}}</button>
            <button *ngIf="actionButtonFalse" type="button" class="btn btn-danger" (click)="closeModal()"><i class="las la-times"></i> {{actionButtonFalse}}</button>
        </div>
        <div *ngIf="!_ModalResponseData">
            <div class="contact">
                <h2 [innerHtml]="activeMessage" class="text-danger"></h2>
            </div>
            <button *ngIf="actionButtonFalse" type="button" class="btn btn-danger" (click)="closeModal()"><i class="las la-times"></i> {{actionButtonFalse}}</button>
        </div>
    </div>
</ng-template>
<ng-template #forward>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Forward Profile</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body modal-delete SentExpress">
        <form [formGroup]="FwdMessageForm" (ngSubmit)="onFwdMessageSubmit()">
            <div class="form-group">
                <label for="fwdEmail">Email Id of your friend or relative: <span class="text-danger">*</span> </label>
                <input type="email" class="form-control" id="fwdEmail" placeholder="Email Id of your friend or relative" formControlName="fwdEmail">
            </div>
            <div *ngIf="FwrdProfileMessage.subject" class="form-group">
                <label for="pwd">Subject:</label><br>
                {{FwrdProfileMessage.subject}}
            </div>
            <div *ngIf="FwrdProfileMessage.message" class="form-group">
                <label for="pwd">Message:</label><br>
                {{FwrdProfileMessage.message}}
            </div>
            <div class="form-group">
                <button type="submit" [disabled]="MsgFwddisableBtn" class="btn btn-success"><i class="las la-paper-plane"></i> {{FwdSubmitbuttonName}}</button>
                <button type="button" class="btn btn-danger" (click)="closeModal()"><i class="las la-times"></i> Cancel </button>
            </div>
        </form>
    </div>
</ng-template>
<ng-template #gallery>
    <div class="modal-body modal-delete">
        <button type="button" class="close pull-right color_fff" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
            <div class="col-lg-4">
                <carousel [interval]="0" [noPause]="true" [(activeSlide)]="activeSlide" [showIndicators]="false" [noWrap]="true">
                    <slide *ngFor="let gallery of galleryItems" class="text-center">
                        <img [defaultImage]="defaultImage" [lazyLoad]="gallery.image_url" class="card__img mdl_img_style" alt="">
                    </slide>
                </carousel>
                <div class="block-dis">
                    <ol class="indicators">
                        <li *ngFor="let gallery of galleryItems; let i = index" [class.active]="i === activeSlide" [attr.aria-pressed]="i === activeSlide" (click)="switchSlide(i)">
                            <img [defaultImage]="defaultImage" [lazyLoad]="gallery.image_url" class="card__img" alt="">
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-lg-8 card_icon">
                
                <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3>{{galleryItemsdata.Name}}</h3>
                <div class="title-shape margin-top-10px"></div>
                <hr>
                
                <div class="col-md-12 row margin-top-10px font_size_17">

                    <div class="col-md-12 row">
                        <div class="col-md-2">
                            <span class="span_style">DOB: </span>
                        </div>
                        <div class="col-md-10">
                            <span>{{galleryItemsdata.DateOfBirth}}({{galleryItemsdata.Age}} Years)</span>
                        </div>
                    </div>

                    <div class="col-md-12 row padd_B">
                        <div class="col-md-2">
                            <span class="span_style">Height: </span>
                        </div>
                        <div class="col-md-4">
                            <span>{{galleryItemsdata.Height=='' ? '---' : galleryItemsdata.Height }}</span>
                        </div>
                        <div class="col-md-2">
                            <span class="span_style">Weight: </span>
                        </div>
                        <div class="col-md-4">
                            <span>{{galleryItemsdata.Weight=='' ? '---' : galleryItemsdata.Weight }}</span>
                        </div>
                    </div>

                    <div class="col-md-12 row padd_B">
                        <div class="col-md-2">
                            <span class="span_style">Raasi: </span>
                        </div>
                        <div class="col-md-4">
                            <span>{{galleryItemsdata.Raasi=='' ? '---' : galleryItemsdata.Raasi }}</span>
                        </div>
                        <div class="col-md-2">
                            <span class="span_style">Star: </span>
                        </div>
                        <div class="col-md-4">
                            <span>{{galleryItemsdata.Star=='' ? '---' : galleryItemsdata.Star }}</span>
                        </div>
                    </div>

                    <div class="col-md-12 row padd_B">
                        <div class="col-md-2">
                            <span class="span_style">Dosam: </span>
                        </div>
                        <div class="col-md-10">
                            <span>{{galleryItemsdata.Dosham=='' ? '---' : galleryItemsdata.Dosham }}</span>
                        </div>
                    </div>

                    <div class="col-md-12 row padd_B">
                        <div class="col-md-2">
                            <span class="span_style">Education: </span>
                        </div>
                        <div class="col-md-10">
                            <span>{{galleryItemsdata.Education=='' ? '---' : galleryItemsdata.Education }}</span>
                        </div>
                    </div>

                    <div class="col-md-12 row padd_B">
                        <div class="col-md-2">
                            <span class="span_style">Location: </span>
                        </div>
                        <div class="col-md-10">
                            <span>{{galleryItemsdata.CommunicationCity=='' ? '---' : galleryItemsdata.CommunicationCity }}</span>
                        </div>
                    </div>
                   
                </div>

                <div class="col-lg-12 mrg_T_15">
                    <ul class="info-list text-center">
                        <li>
                           <ul class="_iconsLst">
                                <li>
                                    <button (click)="openCommonModal(content,expressinterest,'expressinterest',galleryItemsdata.RegNo)" class="gallery_btn btn btn-c1">
                                    <i class="font_size_13px color_fff_im las la-heart"></i> Sent Express Intrest</button>
                                </li>
                                <li>
                                    <button (click)="openCommonModal(content,personalized,'message',galleryItemsdata.RegNo,'recentvisitors')" class="gallery_btn btn btn-c1">
                                    <i class="font_size_13px color_fff_im lab la-telegram-plane"></i> Personalized Message</button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</ng-template>