<section class="faq-area padding-top-40px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 padding-top-10px padding-bottom-10px">
                <div class="col-lg-12 para_head_style">
                    <h1 class="headingfont">Events</h1>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-12 section-heading">
                    <p class="card_p"> In order to improve the matrimonial chances of its existing members and to enroll new members Kalyanamalai Private Limited regularly organizes various matrimonial events. The events such as Thirumana Thiruvizha (TTV), Varan Parkalam Vanga (VPV), Subha Muhurtha Sirappu registration and other Community centric programs are arranged under its Kalyanamalai banner. The programs are staged in major cities in Tamil Nadu and other parts of India.
                    </p>
                    <p class="card_p"> The new registrants at the events need to fill-up an application form with the personal and family details and present it along with the horoscope, photographs and payment  for the chosen scheme of choice.
                    </p>
            
                </div><!-- end section-heading -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div>
</section>
<!-- ================================
    START HIW AREA
================================= -->
<section class="section-bg padding-top-40px padding-bottom-50px after-none text-center" style="height: 1070px;">
                    
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="padding-bottom: 20px;">
                <h6 class="sec__title font-size-28"><strong>Benefits to the New Registrants at the event</strong></h6>
            </div>
            <div class="col-lg-5 row responsive-column">
               
                <div class="col-md-12">
                    <div class="category-item faq-cat-item p-0">
                        <img class="card_img" src="assets/images/utilities/events/01.png" alt="Avatar" class="image">
                        <span class="d-block font-size-14 font-weight-semi-bold mt-3">Extended validity and other benefits where applicable</span>      
                    </div>
                </div>

                <div class="col-md-12 cardheight">
                </div>

               
                <div class="col-md-12">
                    <div class="category-item faq-cat-item p-0">
                        <img class="card_img" src="assets/images/utilities/events/03.png" alt="Avatar" class="image">
                        <span class="d-block font-size-14 font-weight-semi-bold mt-3">Second set of profiles after including all the newly registered profiles at the event matching to the set life-partner expectations with horoscope and star matching or star only matching</span>      
                    </div>
                </div>

                <div class="col-md-12 cardheight">
                </div>
                
               
                <div class="col-md-12">
                    <div class="category-item faq-cat-item p-0">
                        <img class="card_img" src="assets/images/utilities/events/05.png" alt="Avatar" class="image">
                        <span class="d-block font-size-14 font-weight-semi-bold mt-3">Inclusion of all the existing and valid profiles in the list of distributed profiles at various events.</span>      
                    </div>
                </div>
               
            </div><!-- end col-lg-3 -->

            <div class="col-lg-2">
                 <div class="vl"></div>
            </div>

            <div class="col-lg-5 row">
               
                <div class="col-md-12 cardheight">
                </div>

                <div class="col-md-12">
                    <div class="category-item faq-cat-item p-0">
                        <img class="card_img" src="assets/images/utilities/events/02.png" alt="Avatar" class="image">
                        <span class="d-block font-size-14 font-weight-semi-bold mt-3">Getting the first set of generic profiles matching for Caste, Age and Education immediately on registration</span>      
                    </div>
                </div>
                
                
                <div class="col-md-12 cardheight">
                </div>

                <div class="col-md-12">
                    <div class="category-item faq-cat-item p-0">
                        <img class="card_img" src="assets/images/utilities/events/04.png" alt="Avatar" class="image">
                        <span class="d-block font-size-14 font-weight-semi-bold mt-3">Inclusion of all the registered profiles in subsequent event</span>      
                    </div>
                </div>
               
               
                <div class="col-md-12 cardheight">
                </div>

                <div class="col-md-12">
                    <div class="category-item faq-cat-item p-0">
                        <img class="card_img" src="assets/images/utilities/events/06.png" alt="Avatar" class="image">
                        <span class="d-block font-size-14 font-weight-semi-bold mt-3">Possibility of reaching more profile seekers since the events are conducted regularly at various locations.</span>      
                    </div>
                </div>
               
            </div><!-- end col-lg-3 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end hiw-area -->