<!-- <div class="container">
	<div class="maindiv col-md-12 row">
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-5">
				<img src="assets/images/scheme/mohan _sir.png"/>
            </div>
			<div class="col-md-7">
				<div class="exclusiveinfo">
		            <center>
		                <div class="logodiv"></div>

		                <img src="assets/images/scheme/exclusiveimg.png" class="titleimage" />
		                <br />
		            </center>
		            <ul class="exclusivelist">
		                <li>Personal attention</li>
		                <li>Quality matches</li>
		                <li>100% privacy guaranteed</li>
		                <li>One-on-One guidance from our Chairman, Mr. Mohan</li>
		            </ul>
		        </div>
			</div>
		</div>

	</div>
	<div class="col-md-6">
		 <div class="schemecontent">
            <center>
            	
            <input id="username" type="text" style="display:none" runat="server" />
			<div id='crmWebToEntityForm' class='zcwf_lblRight crmWebToEntityForm' runat="server">
	  			<form name='WebToLeads95712000000186144' action="https://crm.zoho.in/crm/WebToLeadForm"
	       onsubmit='return checkMandatory95712000000186144()' accept-charset='UTF-8' method="post">
					<input type='text' style='display:none;' name='xnQsjsdp' value='00be6bc6e23ee5653fdded3d66df77f121fd796a1c85860a746d945799b8f17c'>
					<input type='hidden' name='zc_gad' id='zc_gad' value=''> 
					<input type='text' style='display:none;' name='xmIwtLD' value='fc236b79b838fa0a461a02128b1c66942f12ed905a9f5bc319f32fe4cd4d967e'>
					<input type='text'  style='display:none;' name='actionType' value='TGVhZHM='>
					<input type='text' style='display:none;' name='returnURL' value='' >

					<div class='zcwf_row'>
					    <div class='zcwf_col_fld'>
					        <input type="text" placeholder="Name" onkeyup="this.value=this.value.replace(/[^a-zA-Z]/g,'')" style="padding-left:10px;" id="Last_Name" name="Last Name" maxlength="80" />
					    </div>
					</div>
					<div class='zcwf_row'>
					    <div class='zcwf_col_fld'>
					        <input type='text' placeholder="Email" ftype='email' id='Email' style="padding-left:10px;" name='Email' maxlength='100' runat="server">
					    </div>
					</div>
					<div class='zcwf_row'>
					    <div class='zcwf_col_fld'>
					        <input type="text" placeholder="Phone" id='Phone' onkeyup="this.value=this.value.replace(/[^\d]/,'')" style="padding-left:10px;" onkeypress="return isNumber(event)" name='Phone' maxlength='30' runat="server">
						</div>
					</div>
					<div class='zcwf_row'>    
					    <div class='zcwf_col_fld'>
					        <select class='zcwf_col_fld_slt' id='LEADCF5' style="padding-left:10px;" name='LEADCF5' runat="server">
					            <option value="" disabled selected style="color:lightgrey">Seeking match for</option>
								<option value='Self'>Self</option>
								<option value='Son'>Son</option>
								<option value='Daughter'>Daughter</option>
								<option value='Brother'>Brother</option>
								<option value='Sister'>Sister</option>
								<option value='Friend'>Friend</option>
								<option value='Relative'>Relative</option>
							</select>
					     </div>
					</div>

					<div class='zcwf_row wfrm_fld_dpNn'>
						<div class='zcwf_col_lab' style='font-size:14px; font-family: Tahoma;'>
							<label for='Lead_Source'>Lead Source</label>
						</div>
		    			<div class='zcwf_col_fld'>
					    	<select class='zcwf_col_fld_slt' id='Lead_Source' name='Lead Source'>	
								<option value='Reg&#x20;-&#x20;Online'>Reg - Online</option>
								<option selected value='Exclusive&#x20;Page&#x20;-&#x20;Online'>Exclusive Page - Online</option>
								<option value='Trichy&#x20;Reg&#x20;-&#x20;Offline'>Trichy Reg - Offline</option>
								<option value='Phone&#x20;Enquiry&#x20;-&#x20;Offline'>Phone Enquiry - Offline</option>
								<option value='TVM&#x20;Refer&#x20;-&#x20;Offline'>TVM Refer - Offline</option>
								<option value='Director&#x20;Refer&#x20;-&#x20;Offline'>Director Refer - Offline</option>
								<option value='Walk-ins&#x20;-&#x20;Offline'>Walk-ins - Offline</option>
								<option value='Contact&#x20;Us&#x20;Page&#x20;-&#x20;Online'>Contact Us Page - Online</option>
								<option value='Events&#x20;-&#x20;Offline'>Events - Offline</option>
								<option value='Twitter&#x20;-&#x20;Social&#x20;Media&#x20;-&#x20;Online'>Twitter - Social Media - Online</option>
								<option value='FB&#x20;-&#x20;Social&#x20;Media&#x20;-&#x20;Online'>FB - Social Media - Online</option>
								<option value='Youtube&#x20;-&#x20;Social&#x20;Media&#x20;-&#x20;Online'>Youtube - Social Media - Online</option>
								<option value='Instagram&#x20;-&#x20;Social&#x20;Media&#x20;-&#x20;Online'>Instagram - Social Media - Online</option>
								<option value='Renewal&#x20;-&#x20;Online'>Renewal - Online</option>
							</select>	
		    
					        <div class='zcwf_col_help'></div>
						</div>
					</div>
					<div class='zcwf_row'>
			            <div class='zcwf_col_lab'></div>
			            <div class='buttonrow'>
			                <input type='submit' id='formsubmit' class='formsubmit zcwf_button' value='SUBMIT' title='SUBMIT'>
			            </div>
			        </div>
		    	</form>
		    </div>

            </center>
        </div>
	</div>
</div>
</div>
 -->




<div class="container">
            <div class="maindiv">
                <div class="schemediv row">
                    <div class="col-md-5">
                        <img src="assets/images/scheme/mohan _sir.png" class="mainimage" />
                    </div>
                    <div class="col-md-7">
                    	<div class="logodiv"></div>
                    		<img src="assets/images/scheme/exclusiveimg.png" class="titleimage" />
                            <br />
                        
                        <ul class="exclusivelist">
                            <li>Personal attention</li>
                            <li>Quality matches</li>
                            <li>100% privacy guaranteed</li>
                            <li>One-on-One guidance from our Chairman, Mr. Mohan</li>
                        </ul>
                    </div>
                </div>
                
                <div class="schemecontent">
                  
                    	
                    <input id="username" type="text" style="display:none" runat="server" />
					<div id='crmWebToEntityForm' class='zcwf_lblRight crmWebToEntityForm' runat="server">

			  			<form name='WebToLeads95712000000186144' action="https://crm.zoho.in/crm/WebToLeadForm"
			       onsubmit='return checkMandatory95712000000186144()' accept-charset='UTF-8' method="post">
							<input type='text' style='display:none;' name='xnQsjsdp' value='00be6bc6e23ee5653fdded3d66df77f121fd796a1c85860a746d945799b8f17c'>
							<input type='hidden' name='zc_gad' id='zc_gad' value=''> 
							<input type='text' style='display:none;' name='xmIwtLD' value='fc236b79b838fa0a461a02128b1c66942f12ed905a9f5bc319f32fe4cd4d967e'>
							<input type='text'  style='display:none;' name='actionType' value='TGVhZHM='>
							<input type='text' style='display:none;' name='returnURL' value='' >

							<div class='zcwf_row'>
							    <div class='zcwf_col_fld'>
							        <input type="text" placeholder="Name" onkeyup="this.value=this.value.replace(/[^a-zA-Z]/g,'')" style="padding-left:10px;" id="Last_Name" name="Last Name" maxlength="80" />
							    </div>
							</div>
							<div class='zcwf_row'>
							    <div class='zcwf_col_fld'>
							        <input type='text' placeholder="Email" ftype='email' id='Email' style="padding-left:10px;" name='Email' maxlength='100' runat="server">
							    </div>
							</div>
							<div class='zcwf_row'>
							    <div class='zcwf_col_fld'>
							        <input type="text" placeholder="Phone" id='Phone' onkeyup="this.value=this.value.replace(/[^\d]/,'')" style="padding-left:10px;" onkeypress="return isNumber(event)" name='Phone' maxlength='30' runat="server">
								</div>
							</div>
							<div class='zcwf_row'>    
							    <div class='zcwf_col_fld'>
							        <select class='zcwf_col_fld_slt' id='LEADCF5' style="padding-left:10px;" name='LEADCF5' runat="server">
							            <option value="" disabled selected style="color:lightgrey">Seeking match for</option>
										<option value='Self'>Self</option>
										<option value='Son'>Son</option>
										<option value='Daughter'>Daughter</option>
										<option value='Brother'>Brother</option>
										<option value='Sister'>Sister</option>
										<option value='Friend'>Friend</option>
										<option value='Relative'>Relative</option>
									</select>
							     </div>
							</div>

							<div class='zcwf_row wfrm_fld_dpNn'>
								<div class='zcwf_col_lab' style='font-size:14px; font-family: Tahoma;'>
									<label for='Lead_Source'>Lead Source</label>
								</div>
				    			<div class='zcwf_col_fld'>
							    	<select class='zcwf_col_fld_slt' id='Lead_Source' name='Lead Source'>	
										<option value='Reg&#x20;-&#x20;Online'>Reg - Online</option>
										<option selected value='Exclusive&#x20;Page&#x20;-&#x20;Online'>Exclusive Page - Online</option>
										<option value='Trichy&#x20;Reg&#x20;-&#x20;Offline'>Trichy Reg - Offline</option>
										<option value='Phone&#x20;Enquiry&#x20;-&#x20;Offline'>Phone Enquiry - Offline</option>
										<option value='TVM&#x20;Refer&#x20;-&#x20;Offline'>TVM Refer - Offline</option>
										<option value='Director&#x20;Refer&#x20;-&#x20;Offline'>Director Refer - Offline</option>
										<option value='Walk-ins&#x20;-&#x20;Offline'>Walk-ins - Offline</option>
										<option value='Contact&#x20;Us&#x20;Page&#x20;-&#x20;Online'>Contact Us Page - Online</option>
										<option value='Events&#x20;-&#x20;Offline'>Events - Offline</option>
										<option value='Twitter&#x20;-&#x20;Social&#x20;Media&#x20;-&#x20;Online'>Twitter - Social Media - Online</option>
										<option value='FB&#x20;-&#x20;Social&#x20;Media&#x20;-&#x20;Online'>FB - Social Media - Online</option>
										<option value='Youtube&#x20;-&#x20;Social&#x20;Media&#x20;-&#x20;Online'>Youtube - Social Media - Online</option>
										<option value='Instagram&#x20;-&#x20;Social&#x20;Media&#x20;-&#x20;Online'>Instagram - Social Media - Online</option>
										<option value='Renewal&#x20;-&#x20;Online'>Renewal - Online</option>
									</select>	
				    
							        <div class='zcwf_col_help'></div>
								</div>
							</div>
							<div class='zcwf_row'>
					            <div class='zcwf_col_lab'></div>
					            <div class='buttonrow'>
					                <input type='submit' id='formsubmit' class='formsubmit zcwf_button' value='SUBMIT' title='SUBMIT'>
					            </div>
					        </div>
				    	</form>
				    </div>

                   
                </div>
            </div>
        </div>    