.testimonial p 
{
	 font-size: 28px;
	 letter-spacing: 0.02em;
	 line-height: 35px;
}
.testimonial .name 
{
	 font-weight: bold;
	 font-size: 18px;
	 letter-spacing: 0.04em;
	 line-height: 35px;
	 text-align: left;
}
.testimonial .designation 
{
	 font-size: 14px;
	 letter-spacing: 0.04em;
	 text-align: left;
	 color: #fff;
	 opacity: 0.65;
}
.unt 
{
	 margin-bottom: 20px;
	 margin-top: 60px;
}
.hero-text 
{
	 font-size: 30px;
	 letter-spacing: 0.02em;
	 color: #fff;
}
.gallery-thumbs 
{
	 height: 100%;
}
.gallery-thumbs .swiper-wrapper 
{
	 align-items: center;
}
.gallery-thumbs .swiper-slide 
{
	 background-position: center;
	 background-size: cover;
	 width: 250px !important;
	 height: 330px;
	 position: relative;
}
.gallery-thumbs .swiper-slide img 
{
	 filter: contrast(0.5) blur(1px);
	 width: 100%;
	 height: 100%;
	 object-fit: cover;
	 border-radius: 10px;
}
.gallery-thumbs .swiper-slide-active img
{
	 filter: contrast(1) blur(0px) !important;
}
.flex-row 
{
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -ms-flex-wrap: wrap;
	 flex-wrap: wrap;
	 margin-right: -15px;
	 margin-left: -15px;
}
.flex-row .flex-col 
{
	 -ms-flex-preferred-size: 0;
	 flex-basis: 0;
	 -webkit-box-flex: 1;
	 -ms-flex-positive: 1;
	 flex-grow: 1;
	 max-width: 100%;
	 position: relative;
	 width: 100%;
	 min-height: 1px;
	 padding-right: 15px;
	 padding-left: 15px;
}

.gallery-thumbs .swiper-wrapper 
{
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
}


.testimonial-section .quote 
{
		width: 100%;
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding-left: 10%;
		padding-right: 10%;
}
.swiper-container.testimonial 
{
		height: 60vh;
}
.testimonial-section .user-saying 
{
		background: var(--theme-color2);
		width: 100%;
		color: #fff;
		height: 100%;
}
.testi-user-img 
{
		width: 40%;
}
.testimonial-section 
{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		width: 100%;
		height: 100%;
}
.testimonial-section .quote p 
{
		font-size: 15px;
		font-weight: 300;
		line-height: 1.8;
		font-style: italic;
		margin: 0;
}
.quote-icon 
{
		width: 10px;
		display: block;
		margin-bottom: 15px;
}
.btn-2clr
{
	background: linear-gradient(to right, #fa8b0c, #FF367E) !important;
}
.btn-2clr:hover
{
	background: linear-gradient(to right, #FF367E, #fa8b0c) !important;
}