<!-- <ul>
  <li *ngFor="let item of collection | paginate: { itemsPerPage: itemsPerPage , currentPage: p, totalItems: totalItems }"> {{item.name}} </li>
</ul>

<pagination-controls (pageChange)="getPage(p = $event)"></pagination-controls> -->
<!-- 
<div class="has-text-centered">
    <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
</div>
 -->
<!-- <section class="team-area padding-top-10px padding-bottom-20px">
    <ul>
        <li *ngFor="let item of collection | paginate: { itemsPerPage: 2, currentPage: p ,totalItems: total}">
             {{ item.REGNO }}
        </li>
    </ul>
</section>
       
<pagination-controls (pageChange)="p = $event"></pagination-controls> -->
<section class="team-area padding-top-10px padding-bottom-20px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading text-center">
                    <h2 class="sec__title">Welcome to Kalyanamalai Private Limited</h2>
                    <p class="sec__desc">Kalyanamalai Private Limited , was started in 1999 and shot to fame with its unique TV program, Kalyanamalai.</p>
                    <hr>
                    <p>The company offers matrimonial services to Indians and Non Resident Indian's. Matrimonial alliances are arranged through the television programme, magazines and website  We also arrange events and exclusive community meetings for prospective brides and grooms.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cat-area padding-top-50px padding-bottom-10px before-none after-none about-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-list-item">
                    <div class="row">
                       <div class="col-md-12">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col-lg-12 row">
                                         <div class="col-lg-2">
                                            <img src="assets/images/Kalyanamalai-mohan.png" class="img-fluid">
                                        </div>
                                        <div class="col-lg-8 card_read" data-city="1">
                                            <p class="card-title">Kalyanamalai - SUN TV Program</p>
                                            <p class="card-desc">Kalyanamalai is a unique matrimonial television  programme telecast by SUN TV (a popular Tamil TV Channel) every Sunday between   08:00 - 08:30 AM.. This innovative programme is the brainchild of Mrs. Meera Nagarajan, the Managing Director &amp; CEO of the company. She is also the director of the T.V.series  It is anchored  by T.V. Mohan who fondly came to be known as &lsquo;&rsquo;Kalyanamalai Mohan&rsquo;&rsquo;.</p>
                                            <p class="card-desc">Through this programme, prospective brides and grooms accompanied by their parents or guardians are introduced and it is heartening to note that many of them have found their life partners here.</p>
                                            <p class="card-desc">Kalyanamalai is viewed by millions of Tamilians all over the world. It is  hugely popular and it is kept alive with subjective debates blending into the show, without being monotonous.  The anchor, Mr. Mohan's presentation style has captured the audience and won him fans from all over the world. Some episodes are shot overseas like Malaysia, Singapore,Dubai, Doha and the USA.  Needless to say it is now running into it's 700th episode.</p>
                                            
                                        </div>
                                        <div class="col-lg-2">
                                            <img src="assets/images/meeranagarajan.png" class="img-fluid" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card-list-item">
                    <div class="row">
                       <div class="col-md-12">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card_read" data-city="1">
                                            <p class="card-title">Kalyanamalai Website</p>
                                            <p class="card-desc">www.kmmatrimony.com is the web face of Kalyanamalai Private Limited. The website hosts profiles of millions of prospective and eligible brides and grooms from all communities.</p>
                                            <p class="card-desc">Profiles with relevant details and photos are available for the website users. The systematically arranged profiles with details, makes the search for brides and grooms easy. The website currently receives over 5.3 lakh hits per day.The demand from the users of the website is continually  growing.</p>
                                            <p class="card-desc">At organized events, prospective brides and grooms register and a database with their profile and photo  is created.  These registered members receive profiles similar to their requirements to pick their choice.</p>
                                             
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card-list-item">
                    <div class="row">
                       <div class="col-md-12">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card_read" data-city="1">
                                            <p class="card-title">Specially Arranged Matrimonial Programs</p>
                                            <p class="card-desc">Kalyanamalai Private Limited regularly organises matrimonial events such as Thirumana Thiruvizha, Varan Parkalam Vanga, and Subha Muhurtha Dhina Sirappu registration. The events are organised under the Kalyanamalai banner and held all over India.  Such events assist in easy selection for its participants.</p>
                                            <p class="card-desc">All the new registrants at the organized events will immediately receive a set of matching profiles, complete with photo, horoscope, profile and contact particulars. After including all the newly registered profiles in the database, a fully compatible profile list matching the exact matrimonial preferences of the new user is sent to him/her. This unique feature further improves the matrimonial chances of all the registrants of Kalyanamalai.</p>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card-list-item">
                    <div class="row">
                       <div class="col-md-12">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card_read" data-city="1">
                                            <p class="card-title">Exclusive Community Meet</p>
                                            <p class="card-desc">Kalyanamalai Private Limited regularly organizes community meets for its registered users. During such meets the profiles of the existing members from a particular community, attend.&nbsp; Through this event, members introduce themselves and speak out their expectations.  Many matches have been made through these meets.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card-list-item">
                    <div class="row">
                       <div class="col-md-12">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card_read" data-city="1">
                                            <p class="card-title">Verified Matrimonial Profiles</p>
                                            <p class="card-desc">The company has a strict policy of protecting the identity of its registered users. Kalyanamalai Private Limited takes earnest efforts to offer, 100% secure, genuine and verified profiles. It makes continuous efforts to improve search experience for its users.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card-list-item">
                    <div class="row">
                       <div class="col-md-12">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card_read" data-city="1">
                                            <p class="card-title">Core Competence</p>
                                            <p class="card-desc">Kalyanamalai Private Limited is established, with a view to take matchmaking (for prospective brides and grooms) and matrimonial services to a global level.   Some of its core features are as follows:</p>
                                            <ul class="serLst">
                                                <li><i class="las la-arrow-circle-right"></i> Eighteen service oriented Branches and Authorized Registration Centers in India.</li>
                                                <li><i class="las la-arrow-circle-right"></i> A team of competent professionals and passionate customer care officials and trained officials who offer the services with zeal and with a sole aim of fulfilling the matrimonial requirements of all its users.</li>
                                                <li><i class="las la-arrow-circle-right"></i> Kalyanamalai Private Limited is the only matrimonial company, which also offers complete wedding planning services through Athithi its wedding planning services unit.</li>
                                                <li><i class="las la-arrow-circle-right"></i> Specially Arranged Matrimonial Ground Events</li>
                                                <li><i class="las la-arrow-circle-right"></i> Exclusive Community Meets</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="about-area padding-bottom-40px">
    <div class="container">
         <hr>
         <div class="row">
            <div class="col-lg-12 padding-bottom-50px">
                <div class="about-content">
                    <div class="section-heading">
                        <h2 class="sec__title">Kalyanamalai e-Magazine</h2>
                        <p class="sec__desc font-size-17 pr-3 mb-3">It is an exclusive matrimonial magazine from the house of Kalyanamalai Private Limited,published every month. Mrs.Meera Nagarajan, M.D. & CEO of Kalyanamalai Private Limited is the editor while Kalyanamalai Mohan is the publisher. The magazine reaches over 45,000 households.</p>
                        <p class="sec__desc font-size-17 pr-3">Every issue of the magazine features over 1500 matrimonial advertisements of prospective brides and grooms. The uniquely designed magazine publishes in-depth details of all the registered profiles, with attractive colour photographs and appealing feel. The magazine, in addition carries stories, tips and other day-to-day happenings at ﻿Kalyanamalai, to make it interesting. Ananda Vikatan, the leading Tamil Family Magazine, is its printer and distributor.</p>
                    </div>
                    <div class="btn-box padding-top-30px text-center">
                        <a href="http://www.kalyanamalaimagazine.com/" target="_blank" class="theme-btn btn-2clr">find out more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="spacer padding-bottom-50px">
    <div class="container">
         <hr>
        <div class="col-lg-12 padding-bottom-50px">
            <div class="section-heading text-center">
                <h2 class="sec__title">Services Offered</h2>
                <p class="sec__desc">Kalyanamalai Private Limited leverages its expertise and experience and offer <br> the following services that speed up the wedding fixing of the registered wedding aspirants.</p>
            </div>
        </div>
    	<div class="testimonial-section">
	        <div class="testi-user-img">
	            <div class="swiper-container gallery-thumbs">
	                <div class="swiper-wrapper">
	                    <div class="swiper-slide">
	                        <img class="u3" src="assets/images/utilities/magazine/suntv.png" alt="">
	                    </div>
	                    <div class="swiper-slide">
	                        <img class="u1" src="assets/images/utilities/magazine/Ring.png" alt="">
	                    </div>
	                    <div class="swiper-slide">
	                        <img class="u4" src="assets/images/utilities/magazine/W2.png" alt="">
	                    </div>
	                    <div class="swiper-slide">
	                       <img class="u2" src="assets/images/utilities/magazine/T3.png" alt="">
	                    </div>
	                    <div class="swiper-slide">
	                        <img class="u4" src="assets/images/utilities/magazine/op.jpg" alt="">
	                    </div>
	                    <div class="swiper-slide">
	                        <img class="u4" src="assets/images/utilities/magazine/book.png" alt="">
	                    </div>
	                </div>
	            </div>
	        </div>
        
	        <div class="user-saying">
	            <div class="swiper-container testimonial">
	                <div class="swiper-wrapper ">
	                    <div class="swiper-slide">
	                        <div class="quote">
	                            <img class="quote-icon" src="assets/images/utilities/quote.png" alt="">
	                            <p>
	                                “Kalyanamalai is a unique matrimonial television programme telecast by SUN TV (a popular Tamil TV Channel) every Sunday between 08:00 - 08:30 AM..“
	                            </p>
	                            <div class="name">
	                                <a routerLink="suntvprofile.html" class="btn btn-sm btn-warning" style="color:white">View</a> 
	                            </div>
	                        </div>
	                    </div>
	                    <div class="swiper-slide">
	                        <div class="quote">
	                            <img class="quote-icon" src="assets/images/utilities/quote.png" alt="">
	                      
	                            <p>
	                                “Fixing of wedding is of the most beautiful and memorable experience relished by every couple and remembered all through their life...“
	                            </p>
	                            <div class="name">
	                                <a routerLink="weddingfixed.html" class="btn btn-sm btn-warning" style="color:white">View</a> 
	                            </div>
	                        </div>
	                    </div>
	                    <div class="swiper-slide">
	                        <div class="quote">
	                            <img class="quote-icon" src="assets/images/utilities/quote.png" alt="">
	                          
	                            <p>
	                                “Kalyanamalai Private Limited as an ideal matrimonial service provider feels proud and happy to regularly publish the ‘Successful Marriage Fixing’ stories of its members...“
	                            </p>
	                            <div class="name">
	                                <a routerLink="successstories.html" class="btn btn-sm btn-warning" style="color:white">View</a> 
	                            </div>
	                        </div>
	                    </div>
	                    <div class="swiper-slide">
	                        <div class="quote">
	                            <img class="quote-icon" src="assets/images/utilities/quote.png" alt="">
	                         
	                            <p>
	                                “famous for ‘marriage boon’ and those, waiting for marriage visit temples in thousands praying for early marriage...“
	                            </p>
	                            <div class="name">
	                                <a routerLink="temple/thirumanathalagal.html" class="btn btn-sm btn-warning" style="color:white">View</a> 
	                            </div>
	                        </div>
	                    </div>
	                    <div class="swiper-slide">
	                        <div class="quote">
	                            <img class="quote-icon" src="assets/images/utilities/quote.png" alt="">
	                         
	                            <p>
	                                “The identity I have gained among the public today is,Kalyana Malai Mohan. Aaha Aaha by Kalyanamalai Mohan..“
	                            </p>
	                            <div class="name">
	                                <a routerLink="aahakalyanamalai/aahakalyanamalai.html" class="btn btn-sm btn-warning" style="color:white">View</a> 
	                            </div>
	                        </div>
	                    </div>
	                    <div class="swiper-slide">
	                        <div class="quote">
	                            <img class="quote-icon" src="assets/images/utilities/quote.png" alt="">
	                         
	                            <p>
	                                “It is an exclusive matrimonial magazine from the house of Kalyanamalai Private Limited,published every month. ..“
	                            </p>
	                            <div class="name">
	                                <a target="_blank" font-size-14="http://www.kalyanamalaimagazine.com/" class="btn btn-sm btn-warning" style="color:white">View</a> 
	                            </div>
	                        </div>
	                    </div>
	                    
	                </div>
	                <div class="swiper-pagination swiper-pagination-white"></div>
	                
	            </div>
	        </div>
    	</div>
	</div>
</section> -->