/*.headerareatitle
    {
    
        background-image: url(images/suntv/weddingfixed/weddinghands.jpg);
        background-size: cover;
    }*/

.tablebordercolor
{
	border: 2px solid #dfdfdf;
}
.tablebackgroundclr
{
	background-color: #dfdfdf;
}
.tbwidth
{
	width: 20%;
}