#msform .action-button {
    margin-left: 5px;
    margin-top: 141px;
}
.form-row {
    border: none;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 1000;
    position: relative;
}

.contact-form-action .form-control {
    padding: 5px 25px 5px 10px;
}
.select2-container .select2-selection--single {
    height: auto;
    padding: 4px 20px;
    border-color: rgba(128, 137, 150, 0.3);
    font-weight: 500;
    outline: none;
    text-align: left;
}

.contact-form-action label {
    margin-bottom: 0;
}

.billing-form-item {
    margin-bottom: 0px;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

.contact-form-action .label-text {
    text-align: left;
    color: #82858b;
    margin-bottom: 3px;
}

.billing-content {
    padding: 13px;
}

.input-box {
    text-align: left;
}

.contact-form-action .form-group {
    margin-bottom: 5px;
}

.contact-form-action .form-group .form-icon {
    top: 8px;
    right: 7px;
    left: initial;
    font-size: 23px;
}

/*buttons*/
#msform .action-button {
    /*position: absolute;
    top: 10px;*/
    background: #ff9400;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 6px 40px;
    margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ff9400;
}

#msform .action-button-previous {
    background: #E24443;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    padding: 6px 40px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #E24443;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 100px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 25%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 23px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
    background: #ff9400;
    color: white;
}


/* Not relevant to this form */
.dme_link {
    margin-top: 30px;
    text-align: center;
}

.dme_link a {
    background: #FFF;
    font-weight: bold;
    color: #ff9400;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
}

.dme_link a:hover,
.dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
}

.select2-container.select2-container--default .select2-results .select2-results__options {
    min-height: 200px !important;
}

.custom-control-input:checked~.custom-control-label:before {
    border-color: #ff9400;
    background-color: #ff9400;
}

.custom-radio .custom-control-input:checked~.custom-control-label:after {
    background-image: initial;
}

.custom-control-input:not(:disabled):active~.custom-control-label:before {
    border-color: #ff9400;
    background-color: #ff9400;
}

.custom-control-label::before {
    border: #ff9400 solid 1px
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: initial;
}

.billing-content .custom-checkbox {
    margin-right: 5px;
    margin-bottom: 5px;
}

.custom-control-inline {
    margin-right: 10px;
}

.commAddress {
    border: 1px solid rgba(128, 137, 150, 0.3);
    padding: 5px;
    margin-top: 15px;
}

.commAddress h2 {
    font-size: 16px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 0px;
}

._reSend_ a,
._reSend_ a:hover {
    color: #ff9400;
}

.Siblings ul {
    list-style: none;
}

.Siblings ul li {
    display: inline-block;
}

.Siblings .form-control {
    text-align: center;
    width: 80px;
    padding: 6px 4px 6px 5px;
}

.Siblings i {
    font-size: 30px;
    background: #0a8011;
    border-radius: 50%;
    padding: 6px;
    color: #fff;
    line-height: 33px;
    margin: 0 10px;
}

.Siblings .la-male {
    background: #ce1525;
}

._exclusive_img {
    max-height: 593px;
}

.red .pricing-item-box {
    border: 2px solid #ff0000;
}

.red .plan-name,
.red .pricing-additional {
    background: #ff0000;
}

.plan-price-content h3 span {
    background: #ff9400;
}

.green .pricing-item-box {
    border: 2px solid #074925;
}

.green .plan-name,
.green .pricing-additional {
    background: #074925;
}

.form-group>label {
    top: 18px;
    position: relative;
    background-color: white;
    padding: 0px 5px 0px 5px;
    font-size: 0.9em;
}

.custom-form-group label {
    position: absolute;
    top: 0;
    margin: 8px;
    background-color: #fff;
    -webkit-transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
    transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
}

.custom-form-group .active {
    top: -20px;
    border-radius: 5px;
}

.custom-form-group input[type=text], .custom-form-group textarea {
    width: 100%;
    border: 2px solid #C0C0C0;
}

.custom-form-group input[type=text]:focus,
.custom-form-group input[type=text]:hover,
.custom-form-group textarea:focus,
.custom-form-group textarea:hover {
    outline: none;
    border: 2px solid rgba(0, 0, 0, .87);
}

.custom-form-group ul {
    list-style: none;
}

.custom-form-group ul li {
    display: inline-block;
    padding: 1px 5px;
    border: 2px solid #c0c0c0;
    cursor: pointer;
    border-radius: 4px;
    font-size: 13px;
    margin-bottom: 10px;
    margin-right: 4px;
}

.custom-form-group ul li:hover {
    border: 2px solid rgba(0, 0, 0, .87);
    color: rgba(0, 0, 0, .87);
}
.prl_bg li {
    padding: 3px 10px !important;
}
._hv_Ch label {
    margin: 0;
    padding-left: 0;
}


.selectRegion ul li {
    padding: 10px;
}

.selectRegion ul li:hover {
    cursor: pointer;
}

/* highlighter */
.highlight {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 15%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
.floating-input:focus~.highlight,
.floating-select:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}


/* animation */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

.mr-bt-10 {
    margin-bottom: 10px;
}

.mr-tp-10 {
    margin-top: 10px;
}

.mr-bt-20 {
    margin-bottom: 20px !important;
}

.control-label {
    font-size: 16px;
    font-weight: 400;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 22px, 0) scale(1);
    transform-origin: left top;
    transition: 240ms;
    line-height: 29px;
}

.form-group.focused .control-label {
    transform: scale(0.75);
    color: #82858b;
    left: 5px;
}

/*Active */
.billing-content .focused .form-control{
    border: 2px solid #f5c120;
}
.margin-top-15px {
    margin-top: 15px;
}
.theme-btn {
    line-height: 33px;
}
.show {
    display: block !important;
}
.hide {
    display: none;
}