<section class="form-shared padding-top-40px padding-bottom-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="billing-form-item mb-0">
                    <div class="billing-title-wrap">
                        <h3 class="widget-title font-size-28">Reset Password!</h3>
                        <p class="font-size-16 font-weight-medium">Enter the username of your account to reset password.
                            Then you will receive a OTP to email and mobile number to reset the password.If you have any
                            issue about reset password
                            <a routerLink="/contact" class="color-text">contact us</a>
                        </p>
                    </div>
                    <div class="billing-content">
                        <div class="contact-form-action">
                            <form id="msform" [formGroup]="resetPassword" (ngSubmit)="onSubmit()">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group custom-form-group margin-top-5px">
                                            <label for="username">Username</label>
                                            <span class="las la-mobile-alt form-icon"></span>
                                            <input type="text" class="form-control" id="username" name="username" formControlName="username">
                                        </div>
                                    </div>
                                    <div class="hide col-lg-12" [ngClass]="{show: isOTP===true}">
                                        <div class="form-group custom-form-group margin-top-15px">
                                            <label for="otp">OTP</label>
                                            <span class="las la-mobile-alt form-icon"></span>
                                            <input type="text" class="form-control" id="otp" name="otp" formControlName="otp">
                                        </div>
                                    </div>
                                    <div *ngIf="isPassword" class="col-lg-12">
                                        <div class="form-group custom-form-group margin-top-15px">
                                            <label for="password">New Password</label>
                                            <span class="las la-mobile-alt form-icon"></span>
                                            <input type="password" class="form-control" id="password" name="password" formControlName="password">
                                        </div>
                                        <div class="form-group custom-form-group margin-top-15px">
                                            <label for="cpassword">New Confirm Password</label>
                                            <span class="las la-mobile-alt form-icon"></span>
                                            <input type="password" class="form-control" id="cpassword" name="cpassword" formControlName="cpassword">
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="btn-box margin-top-10px margin-bottom-20px">
                                                <button [disabled]="disableBtn" class="theme-btn border-0" type="submit">{{SubmitbuttonName}}</button>
                                            </div>
                                            <p class="font-weight-medium text-center">
                                                <a routerLink="/login" class="color-text">Login</a>
                                                or
                                                <a routerLink="/" class="color-text">Register</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="overlay" [ngClass]="{show: isLoading===true}">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>
