body {
    text-align: center;
    padding: 40px 0;
    background: #EBF0F5;
}
h1 {
    color: #88B04B;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}
p {
    color: #404F5E;
    font-size:20px;
    margin: 0;
}
i {
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    margin-left:-15px;
}
.card {
    margin-top: 20px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    padding: 20px;
    text-align: center;
}
.btn-c1 {
    width: 220px;
    margin: 0 auto;
    margin-top: 20px;
}
.card_checkmark {
    border-radius: 200px;
    height: 200px;
    width: 200px;
    background: #F8FAF5;
    margin: 0 auto;
}

