/*----------------------------------------
General Styles
----------------------------------------*/
body {
  font-family: 'Jaldi', sans-serif;
  font-size: 17px;
  line-height: 26px;
  overflow-x: hidden;
  color: #82858b;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-family: 'Jaldi';*/
  margin-bottom: 10px;
  line-height: 24px;
  font-weight: 500;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  display: block;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

a {
  text-decoration: none;
  transition: all 0.4s ease;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-weight: 300;
}

hr.hr {
  margin: 50px 0;
  opacity: 0.75;
}
@media (min-width: 1200px) {
    .container{
        max-width: 1250px;
    }
}
.btn-primary {
    background: #e24443;
    color: #fff;
    border-color: #e24443;
}
.btn-c1 {
    background: #ff9400;
    color: #fff;
    border-color: #ff9400;
    text-transform: capitalize;
}

.btn-c1:hover {
    color: #fff;
}
.row-centered {
  text-align: center;
  position: relative;
  width: 100%;
}

.col-centered {
  display: inline-block;
  float: none;
  text-align: center;
}

.color-white {
  color: #fff !important;
}
.font-20{
  font-size: 20px!important;
}
.color-black {
  color: #222;
}
.btn-clg {
  padding: 6px 34px !important;
}
.orange-line {
  border: 1px solid #e24443;
  background: #e24443;
}
.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}

.warpper {
  width: 100%;
  height: 100%;
}

.bg-color {
  background-color: #f8fbfd;
}

.bg-color-1 {
  background-color: #e24443;
}

/*-------margins padding--------*/
.mg-tp-4 {
  margin-top: 4px;
}
.mg-tp-10 {
  margin-top: 10px;
}
.mg-tp-20 {
  margin-top: 20px;
}

.mg-tp-30 {
  margin-top: 30px;
}

.mg-tp-40 {
  margin-top: 40px;
}

.mg-tp-80 {
  margin-top: 80px;
}

.mg-bt-20 {
  margin-bottom: 20px;
}

.mg-bt-30 {
  margin-bottom: 30px;
}

.mg-bt-40 {
  margin-bottom: 40px;
}

.mg-bt-60 {
  margin-bottom: 60px!important;
}

.mg-tp-60 {
  margin-top: 60px;
}

.pd-bt-40 {
  padding-bottom: 40px;
}

.pd-bt-60 {
  padding-bottom: 60px;
}

.pd-bt-80 {
  padding-bottom: 80px;
}

.pd-tp-20 {
  padding-top: 20px;
}

.pd-tp-30 {
  padding-top: 30px;
}

.pd-tp-50 {
  padding-top: 50px;
}

.pd-tp-40 {
  padding-top: 40px;
}

.pd-tp-60 {
  padding-top: 60px;
}

.pd-tp-80 {
  padding-top: 80px;
}
.pd-l-0 {
  padding-left: 0;
}
.padd-40 {
  padding-top: 40px;
  padding-bottom: 40px
}

.padd-80 {
  padding-top: 80px;
  padding-bottom: 80px
}

.padd-100 {
  padding-top: 100px;
  padding-bottom: 100px
}

.padd-150 {
  padding-top: 150px;
  padding-bottom: 150px
}

.padd-bt-0 {
  padding-bottom: 0 !important;
}
.mg-bt-0{
  margin-bottom: 0!important;
}

.row-mag{
  margin-left: 0;
  margin-right: 0;
}
/*----------------------------------------
Buttons
----------------------------------------*/
.white
{
    color: #fff;
}
.btn {
  padding: 10px 14px;
  border-radius: 5px;
}

.btn-blue{
  border: 1px solid #33c091;
  /*background-color: #fff;*/
  color:#fff!important;
  padding: 5px 15px;
    border-radius: 5px;
}
.btn-blue:hover,.btn-blue:focus{
}
.btn-red {
  background-color: #fa6262;
  color: #fff;
  box-shadow: 0 5px 15px rgba(250, 98, 98, 0.4);
}

.btn-red:hover {
  background-color: #fa6262;
  color: #fff;
  box-shadow: 0 8px 25px rgba(250, 98, 98, 0.55);
}
.btn-white {
  width: auto;
  background-color: #fff;
  color: #e24443;
  border: 1px solid transparent;
}
.btn-white:hover,
.btn-white:focus{
  background-color: transparent;
  border: 1px solid #fff;
  color:#fff;
}
.btn-green{
 background-color: #e24443;
 color: #fff;
}
.btn-green:hover,.btn-green:focus{
 background-color: #6bd2b0;
 color: #fff;
}
.navbar-light .navbar-nav .active > .nav-link{
  color: #fff;
  background: #ff9400;  
}
/*----------------------------------------
Footer
----------------------------------------*/

.subscribe-form{
  margin-top: 25px;
}

.footer-top{
  background-color: #f8fbfd;
}
.content-footer{
  padding:50px 0;
}
.content-footer ul {
  margin-bottom: 15px;
}
.text-footer  {
 padding-left: 12px; 
}

.copyright {
  text-align: center;
}

.copyright p {
  margin: 0px auto;
  padding: 0px;
  color: #8688a4;
  font-size: 14px;
}

.newsletter-block {
  text-align: center;
  position: relative;
  box-shadow: 0 8px 28px 2px rgba(61, 61, 61, .12);
  background-color: #fff;
  padding: 30px 10px;
  height: 302px;
  top: -30px;
}
.newsletter-block img{
  width: 60px;
  margin: 0 auto;
}
.footer-top .newsletter-block h5{
  color: #000;
  margin-top: 10px;
}

footer p.error-message {
  color: #e10438;
  margin-top:5px;
  margin-bottom:5px;
}

footer p.sucess-message {
  color: #4ec952;
  margin-top:5px;
  margin-bottom:5px;
}
.footer-inner span{
  line-height: 45px;
  font-size: 13px;

}
#scrollUp{
  background: #ff9600;
  border-radius:50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  bottom: 30px;
  color: #ffffff;
  height: 50px;
  font-size: 30px;
  line-height: 3;
  right: 30px;
  line-height:50px;
  text-decoration: none;
  text-align: center;
  width: 50px;
}
#scrollUp img{
  width: 24px;
}
.logo-footer img{
  margin-bottom: 25px;
}
.text-footer p{
  color: #637282;
}
.footer-top h5{
  color: #000;
  font-size: 22px;
}
.footer-top .list-menu a{
  line-height: 28px;
  color: #82858b;
}
.footer-top .list-menu a:hover{
  color: #000;
}

.subscribe-form .form-control {
 outline: none;
 float:left;
 height: 45px;
 width: 85%;
 border-radius: 4px;
 -moz-border-radius: 4px;
 -wbekit-border-radius: 4px;
 padding:0 15px 0 15px;
 box-shadow: none;
 -webkit-box-sizing: content-box;
 -moz-box-sizing: content-box;
 box-sizing: content-box;
 margin-bottom: 10px;
 transition: all .3s;
 background-color: rgb(248, 251, 253);
 border: 1px solid #dbf0fd;
}
.subscribe-form .btn-subscribe{
  position: relative;
  margin-top: 15px;
  height: 45px;
  width:100%;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -wbekit-border-radius: 4px;
  padding:0 15px 0 15px;
  color:#fff;
  background: #fa6262;
}
.btn-subscribe:hover,.btn-subscribe:focus, .btn-subscribe:active{
  background: #fa6262;
  color:#fff;
}
.subscribe-form .btn{
  width: 100%;
}
.hero-text h1 {
  font-size: 38px;
  line-height: 50px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.hero-text p {
  padding-top: 0;
  margin-top: 0; 
}
.quote-form {
  border: 1px solid #00581e;
  border-radius: 10px;
  padding: 5px;
}
.form-row {
    border: 2px solid rgba(226, 68, 67, 0.6);
    border-radius: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
}
.hero-text .btn{
    margin-top: 28px;
}
.hero-text .form-control  {
    /*border: 3px solid #f8fbfd;*/
}
.hero-text .form-control:focus {
    box-shadow: 0 0 0 .1rem #f8fbfd;
}
.h14 {
    font-size: 28px;
}
.social-cpns ul {
    list-style: none;
}

.social-cpns ul li {
    float:left;
}

.social-cpns .wp-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  color: #fff;
  margin-right: 5px;
}
.social-cpns .fa-lg {
  font-size: 16px;
}

.fa-facebook-f {
  background: #3B5998;
}

.fa-blogger {
  background: #f57d00;
}

.fa-twitter {
  background: #1DA1F2;
}
.fa-instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
.fa-google-plus {
  background: #D04338;
}
.fa-youtube {
  background: #FF0000;
}

.fa-wordpress {
  background: #007299;
}



/* SINGLE START*/
._strip {
  background: #fff;
  padding: 30px 20px 30px 20px;
  box-shadow: 0px 2px 2px 2px #D6D6D6;
  margin-top: 20px;
}

.details_20 li{ 
    display:inline;
    margin-right:20px;
 }
.details_20 ul{ 
    padding-bottom:30px;
    padding-top:20px;
}
._preInHead h4{
    padding: 10px 0;
    margin-bottom: 0;
    color: #333f57;
    font-size: 18px;
}
._preInHead {
    margin-top: 19px;
    border-top: 1px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
    margin-bottom: 12px;
}
.details_23 {
    font-size: 18px;
    padding-bottom: 4px;
    color: #96BD39;
}
.buttons {
    margin-bottom: 18px;
}
.buttons .btn {
    padding: 4px 9px;
    color: #fff;    
}
._stripInfo {
    border: 3px solid rgba(128, 137, 150, 0.2);
    padding: 10px;
    border-radius: 5px;
}
._stripInfo a{
    color: #000;
    font-weight: 500;
    line-height: 28px;
}
._single_ ._iconsLst i {
    padding: 6px;
    font-size: 25px;
}
/* SINGLE END */
._iconsLst {
    margin-top: 10px;
}
._iconsLst li {
    display: inline-block;
    color: #000;
}
._iconsLst i {
    border: 2px solid #eee;
    border-radius: 50%;
    padding: 4px;
    font-size: 20px;
    color: #b11726;
}
.copyrights .text-right span {
  color: #ff9400;
}
.copyrights p {
  margin: 0;
}
/* ITEMS LISTS*/
.card-list-item .card-content {
    padding: 0;
}
.card-list-item .card-image::after {
    opacity: .1;
}
.card-list-item {
    background: #fff;
    padding: 10px;
    box-shadow:0px 3px 4px 1px #D6D6D6;
    margin-bottom: 20px;
    border-radius: 3px;
}
._listButton {
  margin-top: 10px;
}
._listButton .btn {
  color: #fff;
  padding: 4px 10px;
  font-size: 14px;
}
._listButton .btn i {
  vertical-align: middle;
  font-size: 18px;
}
/* END ITEMS LISTS*/


/*LOGIN START*/
.google-c, .google-c:hover{
    background: #4285F4;
}
/*LOGIN END*/
.fixed-top {
  background: #fff !important;
}
.mr-tp-mi-25 {
  margin-top: -25px;
}
.cur {
  cursor: pointer;
}

/*_xs_center_*/

.copyrights {
    margin-top: 10px;
    border-top: 2px solid rgba(0,0,0,.1);
    padding: 7px 0;
}