.checkbox-color {
    background-color: #ff9400;
    border-color: #ff9400;
}
.Height-auto
{
  height: auto !important;
}

.scroll-sty-more-less
{
    height: 195px;
    overflow: overlay;
}

.padd-left-right-5
{
  padding-left : 4px !important;
  padding-right: 4px !important;

}
    
 .btn-more-less
  {
    width: 30%;
    border-radius: 5px;
    background: #f7b55a;
    color: white;
    margin-left: 25%;
  }
  .btn-more-less:hover {background-color: #ff9400}

.action-button {
    background: #ff9400;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 6px 40px;
    margin: 10px 5px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.radiogroup li {
  display: inline-block;
}
.radiogroup li input {
  display: none;
}
.radiogroup li label {
    cursor: pointer;
    border: 2px solid #c0c0c0 !important;
    padding: 1px 8px;
    border-radius: 4px;
}
.radiogroup li label:hover {
    border: 2px solid #000 !important;
}
.radiogroup li label.active  {
  border: 2px solid #f5c120 !important;
  background: #f5c120;
  color: white;

}

.radiogroup label{
    position: initial !important;
    margin: 0px !important;
}
.radiogroup li {
    padding: 1px 5px;
    border: none !important;
    cursor: pointer;
    border-radius: 4px;
    font-size: 13px;
    margin-bottom: 10px;
    margin-right: 4px;
}
.mr-lf-m10  {
    margin-left: -5px !important;
}
/**/




.card-list-item1 
{
  margin-bottom: 20px;
  margin-top: 0px;
}

.card-list-item1 .billing-title-wrap {
  /*border-bottom: 2px solid #ff9400;*/
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, rgba(217, 219, 223, 0.8), rgba(255, 148, 0, 0.8));
  border-image-slice: 1;
  padding-left: 15px;
  margin-bottom: 20px;
}
.card-list-item1 .widget-title {
  font-size: 24px;
  line-height: 33px;
}
.card-list-item1 .padd0px-btn {
  border-radius:  initial;
  padding: 4px 25px;
}
._remodify .contact h2{
  font-size: 19px !important;
}
._remodify {
  padding: 10px 0 10px 0;
}

.map-address-box .map-address li .map__title {
  font-size: 19px;
  margin-bottom: -3px;
}
.map-address-box .map-address li span {
  color: #fff;
  background-color: #ff9400;
}
._ngxcomm {
  padding: 0 10px 0 10px;
}
._ngxcomm h3 {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 15px !important;
  border-bottom: 2px solid rgba(128,137,150,.3);
  padding: 10px 0;
  color: #008000;
}
.mg-pd-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.singleLayOut img {
  border-radius: 50%;
}
.card-list-item2
{
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 0px 5px, rgba(0, 0, 0, 0.23) 0px 4px 15px;
  margin-bottom: 15px;
  border-radius: 3px;
}


.card-list-item1 .billing-title-wrap1 {
  /*border-bottom: 2px solid #ff9400;*/
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, rgba(217, 219, 223, 0.8), rgba(255, 148, 0, 0.8));
  border-image-slice: 1;
  padding-left: 15px;
  margin-bottom: 20px;
  padding: -1px 0px;
}
.billing-title-wrap1 
{
    padding: -1px 0px;
}
.card-content1 
{
  padding: 6px 20px 5px 20px;
}
.mg-tp-34
{
  margin-top: 34px;
}
.mg-tp-10
{
  margin-top: 20px;
}
.nav_style
{
  border: 2px solid #e2e1e0;
  border-radius: 10px;
}
.padd10
{
    padding: 10%;
}
.width-100
{
  width: 100%;
}
.padd_L-15
{
  padding-left: 15px;
}
