<section class="card-area padding-top-40px padding-bottom-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 padding-top-10px padding-bottom-10px">
                <div class="col-lg-12 para_head_style">
                    <h1 class="headingfont">Advertise With Us</h1>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card-item card-listing d-flex">
                        <div class="card-content-wrap">
                            <div class="card-content">
                                <h4 class="card-title">Why to advertise in <a style="color:#007bff" href="http://www.kmmatrimony.com/"><b>www.kmmatrimony.com</b></a>?</h4>
                                <!-- <ul class="info-list padding-top-20px"> -->
                                    <p class="padding-top-20px"><a style="color:#007bff" href="http://www.kmmatrimony.com/"><b>www.kmmatrimony.com</b></a>  owned by Kalyanamalai Private Limited  is a unique and the one and only matrimonial website in India that uses all the popular mass mediums such as the Internet, Print, TV and ground events, to offer matrimonial services. This leading and fast growing matrimonial web portal from India, caters to the matrimonial needs of all the communities from South India that are living in India and in other parts of the world.</p>
                                <!-- </ul> -->
                            </div>
                        </div><!-- end card-content-wrap -->
                    </div><!-- end card-item -->
            </div><!-- end col-lg-12 -->

            <div class="col-lg-12">
                <div class="card-item card-listing d-flex">
                        <div class="card-content-wrap">
                            <div class="card-content">
                                    <h4 class="card-title">What are the impressive facts about   www.kmmatrimony.com that makes it popular?</h4>
                                <ul class="info-list padding-top-20px">
                                    <li>As on May 2019 it has assisted 4,00,000 marriage aspirants to get marry and racing towards the magic figure of 5,00,000 marriages</li>
                                    <p>The website, which meets the matrimonial requirement of five regional language users, enjoys a very impressive web statistics as below:</p>
                                    <li><i class="las la-check"></i> Unique visitors per day – 43757 – 51.24%</li>      
                                    <li><i class="las la-check"></i> New visitors per day – 37497 – 48.76%</li>      
                                    <li><i class="las la-check"></i> Returning visitors per day – 35678</li>      
                                    <li><i class="las la-check"></i> Over five lakh page views per day</li>      
                                    <li><i class="las la-check"></i> Meeting the user needs in five regional languages</li> 
                                </ul>
                            </div>
                        </div><!-- end card-content-wrap -->
                    </div><!-- end card-item -->
            </div><!-- end col-lg-12 -->

            <div class="col-lg-12">
                <div class="card-item card-listing d-flex">
                        <div class="card-content-wrap">
                            <div class="card-content">
                                    <h4 class="card-title">How www.kmmatrimony.com is unique when compared to other matrimonial websites?</h4>
                                    <p>KM Matrimony regularly organises matrimony-related events such as</p>
                                <ul class="info-list padding-top-20px">
                                    <li><i class="las la-check"></i> Thirumana Thiruvizha</li>      
                                    <li><i class="las la-check"></i> Varan Parkalam Vanga</li>      
                                    <li><i class="las la-check"></i> Vivaha Prarthana &amp;</li>      
                                    <li><i class="las la-check"></i> Mega Community Meet</li>
                                </ul>
                                <p>In every such organised event a large number of participants register to become members of KM Matrimony and in turn its web site users. Every such increase in the member’s data base increases the volume of its website users and in turn the traffic to the website.</p>
                            </div>
                        </div><!-- end card-content-wrap -->
                    </div><!-- end card-item -->
            </div><!-- end col-lg-12 -->

            <div class="col-lg-12">
                <div class="card-item card-listing d-flex">
                        <div class="card-content-wrap">
                            <div class="card-content">
                                <p class="fnt_pad">For more details about advertising at the website and the advertisement tariff <br> You can use either of the following methods  <br>  Please call us on 91-44-2434 1400  <br>  Send Email to: <a style="color:#007bff" href="mailto:info@kmmatrimony.com">info@kmmatrimony.com</a></p>
                                <br>

                                 <p class="fnt_pad">Visit us : Kalyanamalai Private Limited <br>  New No.16, Lakshmi Graham, <br> Dr. Nair Road, T.Nagar, <br>  Chennai - 600 017 <br>  Tamilnadu. India.</p>
                            </div>
                        </div><!-- end card-content-wrap -->
                    </div><!-- end card-item -->
            </div><!-- end col-lg-12 -->

<!-- 
            <div class="col-lg-12">
                <div class="card-item card-listing d-flex">
                        <div class="card-content-wrap">
                            <div class="card-content">
                                    <h4 class="card-title padding-bottom-20px">What are the advertisement opportunities available at the website?</h4>

                                <table class="table table-boared">
                                    <thead>
                                        <tr>
                                            <th>Sl.No</th>
                                            <th>Ad Space Description</th>
                                            <th>Pixel Size</th>
                                        </tr>
                                    </thead>
                                   <tbody>
                                        <tr>              
                                            <th scope="row">1</th>              
                                            <td>V – Skyscraper</td>              
                                            <td>160 x 600</td>          
                                        </tr>          
                                        <tr>             
                                            <th scope="row">2</th>              
                                            <td>S – Large Rectangle</td>              
                                            <td>336 x 280</td>          
                                        </tr>          
                                        <tr>              
                                            <th scope="row">3</th>              
                                            <td>H - Leader Board</td>              
                                            <td>728 x 90</td>          
                                        </tr>          
                                        <tr>              
                                            <th scope="row">4</th>              
                                            <td>Square</td>              
                                            <td>250 x 250</td>          
                                        </tr>          <tr>              
                                            <th scope="row">5</th>              
                                            <td>V – Banner</td>              
                                            <td>160 x 240</td>          
                                        </tr>          
                                        <tr>              
                                            <th scope="row">6</th>              
                                            <td>R – Banner</td>              
                                            <td>250 x 125</td>          
                                        </tr>          
                                        <tr>              
                                            <th scope="row">7</th>              
                                            <td>H – Banner</td>              
                                            <td>468 x 60</td>          
                                        </tr>      
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div> -->
        </div>
    </div>
</section>
