<section class="card-area padding-top-40px padding-bottom-50px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 padding-top-10px padding-bottom-10px">
                <div class="col-lg-12 para_head_style">
                    <h1 class="headingfont">Privacy and Policy </h1>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card-item card-listing d-flex">
                    <div class="card-content-wrap">
                        <div class="card-content">
                            <h4 class="card-title">Privacy and Policy </h4>
                           <!--  <ul class="info-list padding-top-20px"> -->
                                <p class="padding-top-20px">Kalyanamalai Private Limited is a matrimonial portal providing service functioning through multi-faceted platforms, endeavoring constantly to provide you with the best matrimonial services. Since we are strongly committed to your right to privacy, we have drawn out a privacy statement with regard to the information we collect from you. We use a safe server for credit card transactions to protect the credit card information of our clients and Cookies are used to store the login information.</p>
                           <!--  </ul> -->
                        </div>
                    </div><!-- end card-content-wrap -->
                </div><!-- end card-item -->
            </div>

            <div class="col-lg-12">
                <div class="card-item card-listing d-flex">
                    <div class="card-content-wrap">
                        <div class="card-content">
                            <h4 class="card-title">What are the details collected from the clients?</h4>
                           <!--  <ul class="info-list padding-top-20px"> -->
                                <p class="padding-top-20px">We collect information from members and guests who apply for the various services our site offers. It includes, but may not be limited to, email address, first name, last name, a user-specified password, mailing address, zip code and telephone number or fax number. If you establish a credit account with us to pay the fees we charge, we collect some additional information, including a billing address, a credit card number and a credit card expiration date and tracking information from cheque or money orders.</p>
                           <!--  </ul> -->
                        </div>
                    </div><!-- end card-content-wrap -->
                </div><!-- end card-item -->
            </div>

            <div class="col-lg-12">
                <div class="card-item card-listing d-flex">
                    <div class="card-content-wrap">
                        <div class="card-content">
                            <h4 class="card-title">How is the  Collected / Tracked information used?</h4>
                           <!--  <ul class="info-list padding-top-20px"> -->
                                <p class="padding-top-20px">Kalyanamalai Private Limited collects information from our customers mainly to ensure that we are able to fulfill your requirements and to delivera   personalized experience every user.</p>
                           <!--  </ul> -->
                        </div>
                    </div><!-- end card-content-wrap -->
                </div><!-- end card-item -->
            </div>

            <div class="col-lg-12">
                <div class="card-item card-listing d-flex">
                    <div class="card-content-wrap">
                        <div class="card-content">
                            <h4 class="card-title">With whom we share the collected / tracked information?</h4>
                           <!--  <ul class="info-list padding-top-20px"> -->
                                <p class="padding-top-20px">The information collected from any of our customers is not shared with any individual or organization without the former's approval. Kalyanamalai Private Limited does not sell, rent, or loan any identifiable information at the individual level regarding its customers to any third party. Any information you give us is held with the utmost care and concern. We are also bound to cooperate fully should a situation arise where we are required by law or legal process to provide information about a customer.</p>
                           <!--  </ul> -->
                        </div>
                    </div><!-- end card-content-wrap -->
                </div><!-- end card-item -->
            </div>

            <div class="col-lg-12">
                <div class="card-item card-listing d-flex">
                    <div class="card-content-wrap">
                        <div class="card-content">
                            <h4 class="card-title">Do all the visitors have to make payment to use the website? </h4>
                           <!--  <ul class="info-list padding-top-20px"> -->
                                <p class="padding-top-20px">No, All visitors to our site may browse the site, search the ads and view any articles or features our site has to offer without entering any personal information or paying money.</p>
                           <!--  </ul> -->
                        </div>
                    </div><!-- end card-content-wrap -->
                </div><!-- end card-item -->
            </div>

            <div class="col-lg-12">
                <div class="card-item card-listing d-flex">
                    <div class="card-content-wrap">
                        <div class="card-content">
                            <h4 class="card-title">Can a user contact any number of profiles in a single day? </h4>
                           <!--  <ul class="info-list padding-top-20px"> -->
                                <p class="padding-top-20px">As a paid member of this site, you have the privilege to contact ‘n’ number of profiles. However, there is a specified limit for security reasons. The number of contact details you view depends on the package you choose to join. If you want to contact more profiles than the specified limit, you can top up your scheme.</p>
                           <!--  </ul> -->
                        </div>
                    </div><!-- end card-content-wrap -->
                </div><!-- end card-item -->
            </div>

            <div class="col-lg-12">
                <div class="card-item card-listing d-flex">
                    <div class="card-content-wrap">
                        <div class="card-content">
                            <h4 class="card-title">How to unsubscribe the membership of your website?</h4>
                           <!--  <ul class="info-list padding-top-20px"> -->
                                <p class="padding-top-20px">The members can log in to the relevant pages to unsubscribe from the services or send mail to <a href="mailto:info@kmmatrimony.com">info@kmmatrimony.com</a></p>
                           <!--  </ul> -->
                        </div>
                    </div><!-- end card-content-wrap -->
                </div><!-- end card-item -->
            </div>

            <div class="col-lg-12">
                <div class="card-item card-listing d-flex">
                    <div class="card-content-wrap">
                        <div class="card-content">
                            <h4 class="card-title">Notice </h4>
                           <!--  <ul class="info-list padding-top-20px"> -->
                                <p class="padding-top-20px">This Privacy Policy may to change from time to time based on your comments or as a result of a change of policy in our company. If you have any questions regarding our Privacy Statement, please write to <a href="mailto:info@kmmatrimony.com">info@kmmatrimony.com</a></p>
                           <!--  </ul> -->
                        </div>
                    </div><!-- end card-content-wrap -->
                </div><!-- end card-item -->
            </div>
        </div>
    </div>
</section>