<div class="container-fluid">
    <div class="row">
        <div id="_extend_Id" class="col-md-8 offset-lg-2 offset-sm-0">
            <form id="msform" class="_rStep2" [formGroup]="family_info_Register" (ngSubmit)="onSubmit()">
                <fieldset>
                    <div class="billing-form-item">
                        <div class="progressbar"></div>
                        <div class="billing-content">
                            <div class="contact-form-action">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="1st _rImge">
                                            <img src="assets/images/reg/family-information.png" class="img-fluid mx-auto d-none d-xl-block">
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="col-lg-12">
                                            <h2 class="fs-title">Family Information </h2>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group custom-form-group mr-bt-20">
                                                        <label for="fana">Father Name</label>
                                                        <span class="las la-male form-icon"></span>
                                                        <input formControlName="father_name" type="text" class="form-control" id="fana" name="father_name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group custom-form-group mr-bt-20">
                                                        <label for="fapro">Father Profession</label>
                                                        <span class="las la-briefcase form-icon"></span>
                                                        <input formControlName="father_profession" type="text" class="form-control" id="fapro" name="father_profession">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group custom-form-group">
                                                        <label for="mona">Mother Name</label>
                                                        <span class="las la-female form-icon"></span>
                                                        <input formControlName="mother_name" type="text" class="form-control" id="mona"name="mother_name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group custom-form-group">
                                                        <label for="mopro">Mother Profession</label>
                                                        <span class="las la-briefcase form-icon"></span>
                                                        <input formControlName="mother_profession" type="text" class="form-control" id="mopro" formControlName="mother_profession">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="mg-tp-10 siblings">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <label class="label-text">No of Brother </label>
                                                        <div class="row">
                                                            <div class="col-lg-6 padding-right-5px">
                                                                <div class="form-group custom-form-group">
                                                                    <label for="siunmafe">Single</label>
                                                                    <i class="las la-user form-icon"></i>
                                                                    <input (keypress)="numberOnly($event)" formControlName="single_brother" type="text" class="form-control" id="siunmafe" name="single_brother">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 padding-right-5px padding-left-5px">
                                                                <div class="form-group custom-form-group">
                                                                    <label for="simafe">Married</label>
                                                                    <i class="las la-user-friends form-icon"></i>
                                                                    <input (keypress)="numberOnly($event)" formControlName="married_brother" type="text" class="form-control" id="simafe" name="married_brother">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <label class="label-text">No of Sister </label>
                                                        <div class="row">
                                                            <div class="col-lg-6 padding-right-5px">
                                                                <div class="form-group custom-form-group">
                                                                    <label for="siunmame">Single</label>
                                                                    <i class="las la-user form-icon"></i>
                                                                    <input (keypress)="numberOnly($event)" formControlName="single_sister" name="single_sister" type="text" class="form-control" id="siunmame">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 padding-right-5px padding-left-5px">
                                                                <div class="form-group custom-form-group">
                                                                    <label for="simama">Married</label>
                                                                    <i class="las la-user-friends form-icon"></i>
                                                                    <input (keypress)="numberOnly($event)" formControlName="married_sister" name="married_sister"  type="text" class="form-control" id="simama">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group custom-form-group _hv_Ch">
                                                <label class="label-text posit-init">Family Value? <span class="text-danger">*</span> </label>
                                                <ul class="radiogroup Family_ValueList">
                                                    <li *ngFor="let familyValue of familyValues">
                                                        <label class="_Ms_fv control control-radio" for="{{familyValue.name}}">
                                                            <input formControlName="Family_ValueList" type="radio" id="{{familyValue.name}}" name="Family_ValueList" [value]="familyValue.id">
                                                            <span>{{familyValue.name}}</span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group custom-form-group _hv_Ch">
                                                <label class="label-text posit-init">Family Status? <span class="text-danger">*</span> </label>
                                                <ul class="radiogroup Family_StatusList">
                                                    <li *ngFor="let familySt of familyStatus">
                                                        <label class="_Ms_fst control control-radio" for="{{familySt.name}}">
                                                            <input formControlName="Family_StatusList" type="radio" id="{{familySt.name}}" name="Family_StatusList" [value]="familySt.id">
                                                            <span>{{familySt.name}}</span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 _xs_center_ _s_mar">
                                            <button [disabled]="disableBtn" type="submit" name="next" class='btn btn-lg next action-button btn-2clr'> 
                                                {{SubmitbuttonName}} <i class="las la-arrow-circle-right"></i> 
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div id="overlay" [ngClass]="{show: isLoading===true}">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>