<section class="card-area padding-top-40px padding-bottom-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="generic-header margin-bottom-30px">
                    <p class="showing__text text-left">Showing 1 to 6 of 30 entries</p>
                    <div class="short-option mr-3">
                        <select class="select-option-field-4">
                            <option value >Short by</option>
                            <option value="short-by-default">Short by default</option>
                            <option value="high-rated">High Rated</option>
                            <option value="most-reviewed">Most Reviewed</option>
                            <option value="popular-Registered">Popular Registered</option>
                            <option value="newest-Registered">Newest Registered</option>
                            <option value="older-Registered">Older Registered</option>
                            <option value="random-listing">Random listing</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="sidebar">
                    <div class="sidebar-widget">
                        <h3 class="widget-title">Photo Settings</h3>
                        <div class="title-shape"></div>
                        <div class="check-box-list mt-4">
                            <div class="custom-checkbox">
                                <input type="checkbox" id="chb30">
                                <label for="chb30">All</label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="chb31">
                                <label for="chb31">With Photos</label>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar-widget">
                        <h3 class="widget-title mb-3">Filter by Age</h3>
                        <div id="slider-range"></div>
                        <div class="price-slider-amount">
                            <label for="amount" class="filter__label">Age:</label>
                            <input type="text" id="age_fil" class="amounts" readonly>
                        </div>
                    </div>
                    

                    <!-- Marital Status -->
                    <div class="sidebar-widget tag-widget">
                        <h3 class="widget-title">Marital Status</h3>
                        <div class="title-shape"></div>
                        <ul class="tag-list mt-4">
                            <li><a href="#">Unmarried</a></li>
                            <li><a href="#">Divorced</a></li>
                            <li><a href="#">Widow / Widower</a></li>
                            <li><a href="#">Marriage not Consumated</a></li>
                        </ul>
                    </div>
                    <!-- Community -->
                    <div class="sidebar-widget tag-widget">
                        <h3 class="widget-title">Community</h3>
                        <div class="title-shape"></div>
                        <ul class="tag-list mt-4">
                            <li><a href="#">Tamil</a></li>
                            <li><a href="#">Telugu</a></li>
                            <li><a href="#">Malayalam</a></li>
                            <li><a href="#">Kannada</a></li>
                            <li><a href="#">Hindi</a></li>
                        </ul>
                    </div>
                    <!-- Religion -->
                    <div class="sidebar-widget">
                        <h3 class="widget-title">Religion</h3>
                        <div class="title-shape"></div>
                        <div class="check-box-list show-more-item mt-4 mb-4">
                            <div class="custom-checkbox">
                                <input type="checkbox" id="religion1">
                                <label for="religion1">Buddhist <span>920</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="religion2">
                                <label for="religion2">Christian <span>506</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="religion3">
                                <label for="religion3">Hindu <span>560</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="religion4">
                                <label for="religion4">Inter-Religion<span>609</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="religion5">
                                <label for="religion5">Jain<span>518</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="religion6">
                                <label for="religion6">Muslim <span>267</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="religion7">
                                <label for="religion7">Others <span>618</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="religion8">
                                <label for="religion8">Parsi<span>760</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="religion9">
                                <label for="religion9">Religion No Bar<span>760</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="religion10">
                                <label for="religion10">Sikh<span>760</span></label>
                            </div>
                        </div>
                    </div>
                    <!-- Caste -->
                    <div class="sidebar-widget">
                        <h3 class="widget-title">Caste</h3>
                        <div class="title-shape"></div>
                        <div class="check-box-list show-more-item mt-4 mb-4">
                            <div class="custom-checkbox">
                                <input type="checkbox" id="caste1">
                                <label for="caste1">Aviyar <span>920</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="caste2">
                                <label for="caste2">Balakarar <span>506</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="caste3">
                                <label for="caste3">Unthathiar <span>560</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="caste4">
                                <label for="caste4">Nia-Gujarathi <span>609</span></label>
                            </div>
                        </div>
                    </div>

                    <!-- Subsect -->
                    <div class="sidebar-widget">
                        <h3 class="widget-title">Subsect</h3>
                        <div class="title-shape"></div>
                        <div class="check-box-list show-more-item mt-4 mb-4">
                            <div class="custom-checkbox">
                                <input type="checkbox" id="subsect1">
                                <label for="subsect1">Arcot <span>852</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="subsect2">
                                <label for="subsect2">Saiva Vellalar <span>092</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="subsect3">
                                <label for="subsect3">Vellalar <span>987</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="subsect4">
                                <label for="subsect4">Sengunthar <span>567</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="subsect5">
                                <label for="subsect5">Agamudiyar <span>725</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="subsect6">
                                <label for="subsect6">Senaithalaivar <span>907</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="subsect7">
                                <label for="subsect7">ThuluvaVellalar <span>470</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="subsect8">
                                <label for="subsect8">Pillai <span>174</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="subsect9">
                                <label for="subsect9">Saliyar <span>273</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="subsect10">
                                <label for="subsect10">Thondai Mandala Saiva <span>576</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="subsect11">
                                <label for="subsect11">Subsect No Bar <span>674</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="subsect12">
                                <label for="subsect12">Kaikolar <span>047</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="subsect13">
                                <label for="subsect13">Alamudi <span>163</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="subsect14">
                                <label for="subsect14">Isai Vellalar <span>451</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="subsect15">
                                <label for="subsect15">Poondamalli Mudaliar <span>234</span></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card-list-item">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="listing-details.html" class="card-image-wrap">
                                <div class="card-image">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqZlhw6XMuEmR5x86kWliFVrkqEU8tOrCefg&usqp=CAU" class="card__img" alt="">
                                    <span class="badge-toggle"><i class="la la-heart-o"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-9">
                            <div class="card-content">
                                <a href="listing-details.html">
                                    <h4 class="card-title">Ramya [M12345]
                                        <i class="fa fa-check-circle" data-toggle="tooltip" data-placement="top" title="Claimed"></i>
                                    </h4>
                                    <p class="card-sub">Profile created for sister</p>
                                </a>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <ul class="info-list">
                                            <li><span>Age:</span> 25 <span>Height:</span> 5 ft </li>
                                            <li><span>Religion:</span> Hindhu</li>
                                            <li><span>Caste:</span> Adi Dravidar (Caste No Bar)</li>
                                            <li><span>Location:</span> Chennai, Tamil Nadu, India</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul class="info-list">
                                            <li><span>Education:</span> B.Tech IT</li>
                                            <li><span>Profession:</span> Marketing Professional</li>
                                            <li><span>Annual Income:</span> 2-3 laks</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <ul class="info-list">
                                            <li>
                                                <ul class="_iconsLst">
                                                    <li><span (click)="openContactModal(communication,869664)"><i title="Contact Details" class="las la-phone-volume"></i></span> </li>

                                                    <li><span (click)="openModal(template,869664)"><i title="Express Interest" class="lar la-heart"></i></span> </li>

                                                    <li><a title="Personlized Message"><i class="lar la-envelope"></i></a></li>

                                                    <li><span (click)="addBookmark(869664)"><i title="Bookmark" class="lar la-bookmark"></i></span> </li>

                                                    <li><a title="Horoscope"><i class="las la-table"></i></a></li>
                                                    <li><span (click)="addBlock(869664)"><i title="Block" class="las la-ban"></i></span> </li>

                                                    <li><span (click)="addIgnore(869664)"><i title="Ignore" class="las la-comment-slash"></i></span> </li>
                                                    <!-- <li><a title="Contact Details" href=""><i class="las la-phone-volume"></i></a></li>
                                                    <li><a title="Express Interest" href=""><i class="lar la-heart"></i></a></li>
                                                    <li><a title="Personlized Message" href=""><i class="lar la-envelope"></i></a></li>
                                                    <li><a title="Bookmark" href=""><i class="lar la-bookmark"></i></a></li>
                                                    <li><a title="Horoscope" href=""><i class="las la-table"></i></a></li>
                                                    <li><a title="Block" href=""><i class="las la-ban"></i></a></li>
                                                    <li><a title="Ignore" href=""><i class="las la-comment-slash"></i></a></li> -->
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="_listButton">
                                            <button class="btn btn-c1"><i class="las la-user-check"></i> View Profile</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-list-item">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="listing-details.html" class="card-image-wrap">
                                <div class="card-image">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqZlhw6XMuEmR5x86kWliFVrkqEU8tOrCefg&usqp=CAU" class="card__img" alt="">
                                    <span class="badge-toggle"><i class="la la-heart-o"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-9">
                            <div class="card-content">
                                <a href="listing-details.html">
                                    <h4 class="card-title">Ramya [M12345]
                                        <i class="fa fa-check-circle" data-toggle="tooltip" data-placement="top" title="Claimed"></i>
                                    </h4>
                                    <p class="card-sub">Profile created for sister</p>
                                </a>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <ul class="info-list">
                                            <li><span>Age:</span> 25 <span>Height:</span> 5 ft </li>
                                            <li><span>Religion:</span> Hindhu</li>
                                            <li><span>Caste:</span> Adi Dravidar (Caste No Bar)</li>
                                            <li><span>Location:</span> Chennai, Tamil Nadu, India</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul class="info-list">
                                            <li><span>Education:</span> B.Tech IT</li>
                                            <li><span>Profession:</span> Marketing Professional</li>
                                            <li><span>Annual Income:</span> 2-3 laks</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <ul class="info-list">
                                            <li>
                                                <ul class="_iconsLst">
                                                    <li><a title="Contact Details" href=""><i class="las la-phone-volume"></i></a></li>
                                                    <li><a title="Express Interest" href=""><i class="lar la-heart"></i></a></li>
                                                    <li><a title="Personlized Message" href=""><i class="lar la-envelope"></i></a></li>
                                                    <li><a title="Bookmark" href=""><i class="lar la-bookmark"></i></a></li>
                                                    <li><a title="Horoscope" href=""><i class="las la-table"></i></a></li>
                                                    <li><a title="Block" href=""><i class="las la-ban"></i></a></li>
                                                    <li><a title="Ignore" href=""><i class="las la-comment-slash"></i></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="_listButton">
                                            <button class="btn btn-c1"><i class="las la-user-check"></i> View Profile</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-list-item">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="listing-details.html" class="card-image-wrap">
                                <div class="card-image">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqZlhw6XMuEmR5x86kWliFVrkqEU8tOrCefg&usqp=CAU" class="card__img" alt="">
                                    <span class="badge-toggle"><i class="la la-heart-o"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-9">
                            <div class="card-content">
                                <a href="listing-details.html">
                                    <h4 class="card-title">Ramya [M12345]
                                        <i class="fa fa-check-circle" data-toggle="tooltip" data-placement="top" title="Claimed"></i>
                                    </h4>
                                    <p class="card-sub">Profile created for sister</p>
                                </a>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <ul class="info-list">
                                            <li><span>Age:</span> 25 <span>Height:</span> 5 ft </li>
                                            <li><span>Religion:</span> Hindhu</li>
                                            <li><span>Caste:</span> Adi Dravidar (Caste No Bar)</li>
                                            <li><span>Location:</span> Chennai, Tamil Nadu, India</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul class="info-list">
                                            <li><span>Education:</span> B.Tech IT</li>
                                            <li><span>Profession:</span> Marketing Professional</li>
                                            <li><span>Annual Income:</span> 2-3 laks</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <ul class="info-list">
                                            <li>
                                                <ul class="_iconsLst">
                                                    <li><a title="Contact Details" href=""><i class="las la-phone-volume"></i></a></li>
                                                    <li><a title="Express Interest" href=""><i class="lar la-heart"></i></a></li>
                                                    <li><a title="Personlized Message" href=""><i class="lar la-envelope"></i></a></li>
                                                    <li><a title="Bookmark" href=""><i class="lar la-bookmark"></i></a></li>
                                                    <li><a title="Horoscope" href=""><i class="las la-table"></i></a></li>
                                                    <li><a title="Block" href=""><i class="las la-ban"></i></a></li>
                                                    <li><a title="Ignore" href=""><i class="las la-comment-slash"></i></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="_listButton">
                                            <button class="btn btn-c1"><i class="las la-user-check"></i> View Profile</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-list-item">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="listing-details.html" class="card-image-wrap">
                                <div class="card-image">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqZlhw6XMuEmR5x86kWliFVrkqEU8tOrCefg&usqp=CAU" class="card__img" alt="">
                                    <span class="badge-toggle"><i class="la la-heart-o"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-9">
                            <div class="card-content">
                                <a href="listing-details.html">
                                    <h4 class="card-title">Ramya [M12345]
                                        <i class="fa fa-check-circle" data-toggle="tooltip" data-placement="top" title="Claimed"></i>
                                    </h4>
                                    <p class="card-sub">Profile created for sister</p>
                                </a>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <ul class="info-list">
                                            <li><span>Age:</span> 25 <span>Height:</span> 5 ft </li>
                                            <li><span>Religion:</span> Hindhu</li>
                                            <li><span>Caste:</span> Adi Dravidar (Caste No Bar)</li>
                                            <li><span>Location:</span> Chennai, Tamil Nadu, India</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul class="info-list">
                                            <li><span>Education:</span> B.Tech IT</li>
                                            <li><span>Profession:</span> Marketing Professional</li>
                                            <li><span>Annual Income:</span> 2-3 laks</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <ul class="info-list">
                                            <li>
                                                <ul class="_iconsLst">
                                                    <li><a title="Contact Details" href=""><i class="las la-phone-volume"></i></a></li>
                                                    <li><a title="Express Interest" href=""><i class="lar la-heart"></i></a></li>
                                                    <li><a title="Personlized Message" href=""><i class="lar la-envelope"></i></a></li>
                                                    <li><a title="Bookmark" href=""><i class="lar la-bookmark"></i></a></li>
                                                    <li><a title="Horoscope" href=""><i class="las la-table"></i></a></li>
                                                    <li><a title="Block" href=""><i class="las la-ban"></i></a></li>
                                                    <li><a title="Ignore" href=""><i class="las la-comment-slash"></i></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="_listButton">
                                            <button class="btn btn-c1"><i class="las la-user-check"></i> View Profile</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Load more -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="button-shared mt-4 text-center">
                            <button type="button" class="theme-btn border-0"><span class="la la-refresh"></span> load more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="overlay" [ngClass]="{show: isLoading===true}">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Sent Express Interest</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body SentExpress">
        <h5 class="margin-bottom-10px">Choose your message</h5>
        <ul>
            <li *ngFor="let expressI of expressInterestMsg; let i = index" [class.active]="SentInterestMessage === i" (click)="activateClass(i)">{{expressI.name}} <i class="las la-check-double"></i> </li>
        </ul>
        <div class="form-group margin-top-10px text-center">
            <button [disabled]="disableBtn" (click)="SentExpressInterest()" class="btn btn-c1"><i class="las la-paper-plane"></i> {{SubmitbuttonName}}</button>
        </div>
    </div>
</ng-template>

<ng-template #communication>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Communication Details</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body SentExpress">
        <div class="col-md-7 offset-lg-2 offset-sm-0">
            <table class="table">
                <tbody>
                    <tr *ngIf="getEmail">
                        <td>Email</td>
                        <td>{{getEmail}}</td>
                    </tr>
                    <tr *ngIf="getMobile">
                        <td>Mobile</td>
                        <td>{{getMobile}}</td>
                    </tr>
                    <tr *ngIf="getPhone">
                        <td>Phone</td>
                        <td>{{getPhone}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group margin-top-10px text-center">
            <button (click)="closeModal()" class="btn btn-c1"><i class="las la-times-circle"></i> Close</button>
        </div>
    </div>
</ng-template>